.enterprise-groups__hero {
  > nav {
    inline-size: 100%;
    display: flex;
    align-items: center;
  }

  & button {
    border: none;
    width: 42px;
    height: 42px;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    border-radius: 9999px;
    transition: background-color 0.2s ease-in-out, transform 0.4s ease-in-out;

    color: var(--text-color-enterprise);
    background: var(--primary-color-enterprise);

    margin-inline-start: auto;

    &:hover {
      background-color: var(--secondary-hover-color-enterprise);
    }
  }

  & .icon {
    font-size: 1.2rem;
    display: flex;
    position: absolute;
    transition: transform 0.6s, opacity 0.6s;
    backface-visibility: hidden;
  }
}

.containerGroupsList {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  flex: 1;

  > ul {
    inline-size: 100%;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    padding-inline: 0.25rem;
    padding-block: 0.75rem;

    border-radius: 0.75rem;
  }
}

.flip {
  transition: background-color 0.3s ease-in-out, transform 1s ease;

  &:hover {
    transform: translate(0, -5px);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.8);
  }
}
