.grid-container {
  background-color: transparent;
  place-items: center;
  inline-size: 100%;
  align-content: center;

  --grid-max-col-count: 3;
  --grid-min-col-size: 200px;
  --grid-gap: 1rem;

  --grid-col-size-calc: calc(
    (100% - var(--grid-gap) * var(--grid-max-col-count)) /
      var(--grid-max-col-count)
  );
  --grid-col-min-size-calc: min(
    100%,
    max(var(--grid-min-col-size), var(--grid-col-size-calc))
  );

  display: grid;
  gap: var(--grid-gap);

  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-col-min-size-calc), 1fr)
  );
}

.box {
  height: 100%;
  inline-size: 100%;
  border-radius: 0.75rem;
  transform: translateY(0);
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.box-metrics {
  overflow: hidden;

  padding-block: 0.25rem;
  padding-inline: 0.5rem;

  background-color: var(--primary-color-enterprise);

  &:hover {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-hover-color-enterprise);
  }

  img {
    max-inline-size: 100%;
  }

  > * {
    padding-inline: 0.75rem;
  }

  > header {
    display: flex;
    align-items: center;
    inline-size: 100%;

    > :first-child {
      margin-right: auto;
      color: var(--text-color-enterprise);
    }
  }

  > main {
    display: grid;
    gap: 0.25rem;

    margin-block-end: 1rem;

    strong {
      font-size: 1.25em;
      color: var(--subheading-color-enterprise);
    }

    small {
      & mark {
        background-color: var(--primary-color);
      }
    }
  }

  > figure {
    inline-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > figcaption {
      display: none;
    }

    img {
      block-size: 30%;
      max-block-size: 150px;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }
}

.box-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-color-enterprise);

  > div {
    margin-block-end: 0.5rem;
    border-radius: 100%;

    display: grid;
    place-content: center;
    inline-size: 30px;
    aspect-ratio: 1/1;

    transition: background-color 0.3s ease, fill 0.3s ease;

    svg {
      fill: var(--secondary-color-enterprise);
    }

    &:hover {
      background-color: var(--secondary-hover-color-enterprise);

      > svg {
        fill: rgba(250, 250, 250, 0.7);
      }
    }
  }

  > button.bg {
    background-color: transparent;
    border: 1px solid var(--bg-style-color);
    text-decoration: none;
    color: var(--text-color-enterprise);

    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--secondary-hover-color-enterprise);
    }
  }
}
