.container--genomas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container--genomas__main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 2rem;

  & ul {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & li {
      padding: 0;
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & > *:first-child {
    margin-top: 1rem;
    width: 100%;
  }
}
