.dropdownUser--menu {
  /* nav */
  position: absolute;
  background-color: white;
  top: 100%;
  left: 50%;
  max-width: max-content;
  border-radius: 0.5rem;
  outline: 1px solid rgba(0, 0, 0, 0.2);

  & ul {
    list-style: none;
    width: 100%;

    & > * {
      border: 1px solid transparent;
    }

    & > *:not(:first-child) {
      border-top: 0.5px solid rgba(0, 0, 0, 1);
    }

    & li {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      width: 100%;
      transition: background-color 0.3s ease-in;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      & button {
        border: none;
        padding: 0.5rem 0.8rem;
        background-color: transparent;
        text-wrap: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        width: 100%;

        & .dropdown-menu__icon {
        }
      }
    }
  }
}
