.files__project--item.selected {
  border: 2px solid #00acc1;
  background-color: #e0f7fa;
}
.files__project--list {
  list-style: none;
  block-size: 500px;
}

.files__project--container {
  block-size: 100%;
  overflow: auto;
}
