
.features-header__container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 16px;
}

.features-header__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.features-header__button {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  transition: outline 0.2s ease-in-out;
}
