.headerUserWorkspace {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 50;
  max-height: max-content;
  width: 100%;

  & .headerUserWorkspace__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & figure {
    & figcaption {
      display: none;
    }
  }
}
