.header-landing {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  width: 100%;
  color: white;
}

.header-landing__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  gap: 0.25rem;
}

.header-landing__nav {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
  & > a {
    text-decoration: none;
    position: relative;
    font-size: 1em;

    @media screen and (min-width: 900px) {
      &:first-child {
        margin-left: auto;
      }
    }

    &:hover {
      &::after {
        width: 100%;
        background-color: var(--text-color);
      }
    }

    &.active {
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(4px);
      height: 4px;
      width: 0;
      transition: width 0.5s ease-in-out, background 0.3s ease-in-out;
      background: rgba(255, 255, 255, 0.6);
    }
  }

  & .header-landing__link {
    color: var(--color-white);
    transition: color 0.3s ease-in-out;
    font-weight: bold;

    &.disabled {
      color: rgba(255, 255, 255, 0.4);
      pointer-events: none;
    }

    &:hover {
      color: var(--text-color);
    }
  }
}

.header-landing__auth {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;

  & .header-landing__auth-link {
    background-color: transparent;
  }
}

/* Icono del menú */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* lines checkbox marked */
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* checkbox marked */
.side-menu:checked ~ .header-landing__nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
  gap: 2rem;
  border-radius: 2rem;
  align-items: center;
}

@media (max-width: 900px) {
  .header-landing__auth {
    margin-left: unset;
  }
  .header-landing__nav {
    display: none;
  }

  .side-menu:checked ~ .header-landing__nav {
    display: flex;
    flex-direction: column;
  }
  .hamb {
    display: block;
  }
}

@media (min-width: 900px) {
  .header-landing__nav {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 1rem;
  }

  .side-menu {
    display: none;
  }
  .hamb {
    display: none;
  }
}
