.user-options {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 16px;
  cursor: pointer;

  & .user-options__dropdown-container {
    position: relative;
    outline: 1px solid transparent;
    border-radius: 0.4rem;
    padding: 0.4rem;
    transition: background-color 0.4s ease, outline 0.4s ease;

    &:hover {
      outline-color: rgba(0, 0, 0, 0.3);
      background-color: rgba(0, 0, 0, 0.1);
    }

    & .user-options__avatar-button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      flex-wrap: nowrap;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      
      & > *:nth-child(2) {
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out;

        &.active {
          transform: rotate(-90deg);
        }
      }
    }

    & .user-options__avatar {
      height: 32px;
      width: auto;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}
