.sidebar--infoProjectSelect {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: max-content;

  &.active {
    > button {
      transform: translateX(-300px);
    }
  }
}

.sidebar--infoProjectSelect--expanded {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
  width: 48px;
  height: max-content;
  max-block-size: 80vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease, background-color 0.3s ease, border 0.3s ease,
    transform 0.3s ease;

  &.active {
    padding: 0;
    margin: 0;
    width: 300px;
    background-color: var(--card-background);
    border: 1px solid rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, background-color 0.3s ease,
      border 0.3s ease;

    & > div {
      overflow: visible;

      & > button {
        top: 50%;
        left: -20px;
        transform: translateY(-50%);

        & svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  & > div {
    position: relative;
    min-block-size: 100%;
    min-inline-size: 100%;
    height: 100%;
  }
}

.sidebar--toggle-button {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  position: absolute;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  cursor: pointer;

  outline: 2px solid transparent;
  outline-color: rgba(0, 0, 0, 0.2);
  animation: outline-dance 1s infinite;

  z-index: 1000;

  &:hover {
    & svg {
      fill: var(--secondary-color);
    }
  }

  & svg {
    transition: transform 0.3s ease, fill 0.3s ease;
    fill: var(--text-color);
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
  }
}

.sidebar--content {
  min-block-size: 100%;
  min-inline-size: 100%;
  height: 100%;
  padding-inline: 0.4rem;
  padding-block: 0.8rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) transparent;

  & > section {
    margin-top: 0.4rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: flex-end;
    justify-content: center;
    width: 100%;

    & > h2 {
      text-align: center;
      align-self: center;
      width: 100%;
    }

    & div {
      width: 100%;
      padding-block: 0.1rem;

      &:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }

      & h3,
      p {
        width: 100%;
        text-align: right;
      }
    }

    & fieldset {
      block-size: 100%;
      inline-size: 100%;
      display: flex;
      flex-direction: column;
      border: transparent;

      & small {
        font-size: 0.8em;
        font-weight: 600;
        color: var(--text-color);
        text-align: center;
        margin-bottom: 0.4rem;
        padding: 0.4rem;

        &.limit {
          color: red;
        }
      }

      & legend {
        font-size: 1.2em;
        font-weight: bold;
        color: var(--text-color);
        text-align: center;
        margin-bottom: 0.4rem;
      }

      & label {
        width: 100%;
        padding-block: 0.4rem;
        background-color: var(--card-background);
        color: var(--text-color);
        font-size: 1em;
        font-weight: bold;
        position: relative;

        & svg {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
        }

        & input {
          padding: 0.4rem;
          width: 100%;
          border: 1px solid transparent;
          padding-left: 2.4rem;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover,
          &:focus {
            border-color: var(--secondary-color);
          }
        }
      }

      & > * {
        width: 100%;
      }
    }
  }

  & > hr {
    inline-size: 100%;
  }
}

@keyframes outline-dance {
  0%,
  100% {
    outline-offset: -7px;
  }

  50% {
    outline-width: 4px;
    outline-offset: 5px;
  }
}
