.sidebar--infoProjectSelect {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
  width: 48px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease, background-color 0.3s ease, border 0.3s ease;

  &.active {
    padding: 0;
    margin: 0;
    width: 300px;
    background-color: var(--card-background);

    & > div {
      & > button {
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        outline: 2px solid transparent;
        outline-color: rgba(0, 0, 0, 0.2);
        animation: outline-dance 1s infinite;

        & svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  & > div {
    position: relative;
    min-block-size: 100%;
    min-inline-size: 100%;
    height: 100%;

    & > button {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      position: absolute;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 100%;
      transition: transform 0.3s ease, background-color 0.3s ease,
        border 0.3s ease;
      width: 48px;
      height: 48px;
      aspect-ratio: 1/1;
      cursor: pointer;

      &:hover {
        & svg {
          fill: var(--secondary-color);
        }
      }

      & svg {
        transition: transform 0.3s ease, fill 0.3s ease;
        fill: var(--text-color);
        width: 48px;
        height: 48px;
        aspect-ratio: 1/1;
      }
    }
  }

  & .sidebar--content {
    min-block-size: 100%;
    min-inline-size: 100%;
    height: 100%;
    padding-inline: 0.4rem;
    padding-block: 0.8rem;

    & > ul {
      list-style: none;
    }
  }
}

@keyframes outline-dance {
  0%,
  100% {
    outline-offset: -7px;
  }

  50% {
    outline-width: 4px;
    outline-offset: 5px;
  }
}
