.contact--page {
  display: block;

  & > :is(article, section) {
    margin: 0 auto;
    max-inline-size: 1200px;
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-block-size: 100vh;
  }
}

.about-us {
  & .container-- {
    inline-size: 100%;

    > .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      inline-size: 960px;
      max-width: calc(100% - 20px);
      margin: 0 auto;

      & .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        gap: 20px;
        overflow: hidden;

        border: 1px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.6);

        transition: background-color 0.5s ease, border-color 0.5s ease;

        &:nth-child(1) {
          border-top-color: rgba(0, 0, 0, 0.6);
        }

        &.show {
          background: var(--bg-linear-gradient-semifull-hover);

          > .content {
            opacity: 1;
          }
        }

        & .title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & h4 {
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
          }

          & button {
            padding: 5px;
            border: none;
            outline: 1px solid transparent;
            background-color: transparent;
            border-radius: 100%;
            transition: background-color 0.5s ease;
            aspect-ratio: 1/1;
            cursor: pointer;

            &.rotate {
              & svg {
                transform: rotate(0deg);
              }
            }

            &:hover {
              background-color: rgba(0, 0, 0, 0.09);

              & svg {
                fill: black;
              }
            }

            & svg {
              width: 30px;
              display: block;
              transform: rotate(180deg);
              transition: 0.5 ease;
              fill: black;
              transition: fill 0.5s ease, transform 0.5s ease;
            }
          }
        }

        & .content {
          opacity: 0;
          font-size: 19px;
          line-height: 30px;
          font-weight: 400;
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.5s ease, opacity 0.5s ease;
        }
      }
    }
  }
}

.our-story {
  display: flex;

  > header {
    block-size: fit-content;
    margin-bottom: 0.5rem;

    > h1 {
      font-size: 3.75em;
      font-weight: 900;
      color: #333;
      text-align: center;
      margin: 0;
    }

    > p {
      font-size: 1.6em;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.teams {
  margin-top: 2rem;

  & ul {
    list-style: none;
    position: relative;

    .slider {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      z-index: 10;
    }
  }

  > article {
    padding: 0.2rem;
    align-self: flex-start;
    &:not(:last-child) {
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    }

    & > article {
      margin-top: 0.5rem;

      & > * {
        padding-inline: 0.2rem;
        padding-block: 0.1rem;
      }

      & > header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        > div {
          width: 1px;
          height: 20px;
          background-color: rgba(0, 0, 0, 0.2);
          margin: 0 10px;
        }

        > small {
          font-size: 1.175rem;
          line-height: 1.825rem;
          color: rgba(0, 0, 0, 0.4);
        }
      }

      > div > *:nth-child(1) {
        overflow: hidden;
        display: block;
        min-block-size: 20px;
        block-size: 80px;

        > p {
          font-size: 1.175rem;
          line-height: 1.825rem;
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }

    > h1 {
      margin-left: 0.2rem;
      font-size: 1.875rem;
      line-height: 2.375rem;
      margin-bottom: 0.5rem;
    }

    &:first-child {
      margin-top: 2rem;
    }

    &:last-child {
      margin-bottom: 2rem;
    }

    > ul {
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;

      > li {
        padding-inline: 0.4rem;
        padding-block: 0.2rem;
        cursor: pointer;

        border: 1px solid transparent;
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
        border-radius: 0.4rem;

        position: relative;
        z-index: 1;

        &.active {
          font-weight: 800;
        }

        &:not(:first-child) {
          border-left: 1px solid rgba(0, 0, 0, 0.09);
          margin-left: 0.2rem;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        > span {
          color: rgba(0, 0, 0, 0.4);
          font-size: 1.175rem;
          line-height: 1.825rem;
          background: transparent;
        }
      }
    }
  }
}
