.contact--page {
  display: block;

  & > article {
    margin: 0 auto;
    max-inline-size: 1200px;
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-block-size: 100vh;

    &:first-child {
      & figure {
        padding: 10px;
        max-width: 250px;
        block-size: auto;
        inline-size: 100%;
        aspect-ratio: 1/1;

        & figcaption {
          display: none;
        }

        & img {
          display: block;
          max-inline-size: 100%;
          width: 100%;
          height: auto;
          object-fit: cover;
          mask: linear-gradient(to bottom, #000 60%, transparent);
        }
      }

      > .header {
        text-align: center;
        padding: 0px 10px;
        margin-block-end: 50px;
        margin-block-start: -3.5rem;

        & h1 {
          font-size: 48px;
          line-height: 58px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        & h3 {
          max-width: 714px;
          font-size: 18px;
          line-height: 30px;
          font-weight: 400;
          color: #5c5c5c;
          margin: 0 auto;
        }
      }
    }
  }
}

.about-us {
  & .container-- {
    inline-size: 100%;

    > .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      inline-size: 960px;
      max-width: calc(100% - 20px);
      margin: 0 auto;

      & .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        gap: 20px;
        overflow: hidden;

        border: 1px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.6);

        transition: background-color 0.5s ease, border-color 0.5s ease;

        &:nth-child(1) {
          border-top-color: rgba(0, 0, 0, 0.6);
        }

        &.show {
          background: var(--bg-linear-gradient-semifull-hover);
          /* box-shadow: inset rgba(0, 0, 0, 0.05) 0 0 0 2px; */

          > .content {
            opacity: 1;
          }
        }

        & .title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & h4 {
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
          }

          & button {
            padding: 5px;
            border: none;
            outline: 1px solid transparent;
            background-color: transparent;
            border-radius: 100%;
            transition: background-color 0.5s ease;
            aspect-ratio: 1/1;
            cursor: pointer;

            &.rotate {
              & svg {
                transform: rotate(0deg);
              }
            }

            &:hover {
              background-color: rgba(0, 0, 0, 0.09);

              & svg {
                fill: black;
              }
            }

            & svg {
              width: 30px;
              display: block;
              transform: rotate(180deg);
              transition: 0.5 ease;
              fill: black;
              transition: fill 0.5s ease, transform 0.5s ease;
            }
          }
        }

        & .content {
          opacity: 0;
          font-size: 19px;
          line-height: 30px;
          font-weight: 400;
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.5s ease, opacity 0.5s ease;
        }
      }
    }
  }
}

.our-story {
  > header {
    block-size: fit-content;
    margin-bottom: 0.5rem;

    > h1 {
      font-size: 3.75em;
      font-weight: 900;
      color: #333;
      text-align: center;
      margin: 0;
    }

    > p {
      font-size: 1.6em;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  > .timeline {
    inline-size: 100%;
    position: relative;
    max-inline-size: 1200px;
    margin: 0px auto;
    list-style: none;

    & img {
      max-inline-size: 100%;
      block-size: auto;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      margin-left: -3px;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.4);

      animation: moveline 2s ease-in-out forwards;
    }

    & > li {
      padding: 10px 50px;
      position: relative;
      inline-size: 50%;
      display: flex;
      flex-direction: column;

      animation: movedown 1s linear forwards;
      opacity: 0;

      & > figure {
        position: absolute;
        width: 45px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        top: 32px;
        z-index: 10;
        display: grid;
        place-content: center;
        background: var(--bg-linear-gradient-full);
        outline: 1px solid transparent;
        transition: background 0.3s ease;
        cursor: pointer;

        &:hover {
          background: var(--bg-linear-gradient-full-hover);
          outline: 1px solid rgba(0, 0, 0, 0.6);
          outline-offset: -2px;

          > svg {
            fill: rgba(0, 0, 0, 0.6);
          }
        }

        & svg {
          opacity: 0;
          transition: all 0.3s ease-in-out;
          width: 24px;
          height: auto;
          aspect-ratio: 1/1;
          fill: rgb(255, 255, 255);
          animation: movedown 1s linear forwards;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      & .text-box {
        border: 2px solid rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        background-color: #fff;
        position: relative;
        border-radius: 0.6rem;
        font-size: 1rem;
        inline-size: fit-content;

        & span {
          position: absolute;
          height: 0;
          width: 0;
          top: 1rem;
          z-index: 1;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
        }
      }
    }

    & > *:nth-child(even) {
      left: 0;

      & figure {
        right: -20px;
      }

      .text-box {
        align-self: flex-end;
        & span {
          border-left: 15px solid rgba(255, 0, 0, 0.4);
          right: -15px;
        }
      }
    }

    & > *:nth-child(odd) {
      left: 50%;

      & figure {
        left: -20px;
      }

      .text-box {
        align-self: flex-start;
        & span {
          border-right: 15px solid rgba(0, 0, 0, 0.4);
          left: -15px;
        }
      }
    }
  }
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes movedown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .timeline {
    padding: 20px;
    margin: 50px auto;

    &::after {
      left: 40px;
    }

    & > li {
      inline-size: 100%;
      padding-left: 80px;
      padding-right: 30px;
    }

    & > *:nth-child(even) {
      left: 0;

      & img {
        right: unset;
        left: -3px;
      }

      .text-box {
        align-self: flex-start;
        & span {
          border-left: 15px solid rgba(255, 0, 0, 0.4);
          border-left: unset;
          border-right: 15px solid rgba(255, 0, 0, 0.4);
          left: -15px;
        }
      }
    }

    & > *:nth-child(odd) {
      left: 0%;

      & img {
        left: -3px;
      }

      .text-box {
        & span {
          border-right: 15px solid rgba(0, 0, 0, 0.4);
          left: -15px;
        }
      }
    }
  }
}
