.contact--page {
  display: block;

  & > article {
    margin: 0 auto;
    max-inline-size: 1200px;
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-block-size: 100vh;

    &:first-child {
      & figure {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        max-width: 200px;
        block-size: auto;
        inline-size: 100%;
        aspect-ratio: 1/1;
        outline-offset: 2px;
        outline: 2px solid rgba(0, 0, 0, 0.2);

        & figcaption {
          display: none;
        }

        & img {
          display: block;
          max-inline-size: 100%;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

.about-us {
  & .container-- {
    inline-size: 100%;

    & .faq-container {
      inline-size: 960px;
      max-width: calc(100% - 20px);
      margin: 0 auto;

      > .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 15px;
          background-color: #eff5ff;
          gap: 20px;
          overflow: hidden;

          &.show {
            background-color: transparent;
            box-shadow: inset rgba(0, 0, 0, 0.05) 0 0 0 2px;

            > .content {
              opacity: 1;
            }
          }

          & .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & h4 {
              font-size: 24px;
              line-height: 30px;
              font-weight: 500;
            }

            & button {
              padding: 5px;
              border: none;
              outline: 1px solid transparent;
              background-color: transparent;
              border-radius: 100%;
              transition: background-color 0.5s ease;
              aspect-ratio: 1/1;
              cursor: pointer;

              &:hover {
                background-color: rgba(0, 0, 0, 0.09);
              
                & svg {
                  fill: white
                }
              
              }

              & svg {
                width: 30px;
                display: block;
                transform: rotate(45deg);
                transition: 0.5 ease;
                fill: black;
                transition: fill 0.5s ease;
              }
            }
          }

          & .content {
            opacity: 0;
            font-size: 19px;
            line-height: 30px;
            font-weight: 400;
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.5s ease, opacity 0.5s ease;
          }
        }
      }

      > .header {
        text-align: center;
        padding: 0px 10px;
        margin-bottom: 75px;

        & h1 {
          font-size: 48px;
          line-height: 58px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        & h3 {
          max-width: 714px;
          font-size: 18px;
          line-height: 30px;
          font-weight: 400;
          color: #5c5c5c;
          margin: 0 auto;
        }
      }
    }
  }
}

.our-story {
  > header {
    block-size: fit-content;
    margin-bottom: 0.5rem;

    h1 {
      font-size: 3.75em;
      font-weight: 900;
      color: #333;
      text-align: center;
      margin: 0;
    }

    p {
      font-size: 1.6em;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  > .timeline {
    inline-size: 100%;
    position: relative;
    max-inline-size: 1200px;
    margin: 0px auto;
    list-style: none;

    img {
      max-inline-size: 100%;
      block-size: auto;
    }

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 100%;
      top: 0;
      left: 50%;
      margin-left: -3px;
      z-index: -1;
      background-color: #333;

      animation: moveline 2s ease-in-out forwards;
    }

    & > li {
      padding: 10px 50px;
      position: relative;
      inline-size: 50%;
      display: flex;
      flex-direction: column;

      animation: movedown 1s linear forwards;
      opacity: 0;

      & figure {
        position: absolute;
        width: 45px;
        border-radius: 50%;
        top: 32px;
        z-index: 10;

        & svg {
          width: 90%;
          height: 90%;
          border-radius: 50%;
          background: var(--bg-linear-gradient-full-hover);
          padding: 0.1rem;
          fill: rgb(255, 255, 255);

          animation: movedown 1s linear forwards;
          opacity: 0;

          outline: 1px solid rgba(0, 0, 0, 0.2);
          outline-offset: 2px;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
            outline: 2px solid rgba(0, 0, 0, 0.4);
            outline-offset: 0px;
          }
        }
      }

      & .text-box {
        border: 2px solid rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        background-color: #fff;
        position: relative;
        border-radius: 0.6rem;
        font-size: 1rem;
        inline-size: fit-content;

        & span {
          position: absolute;
          height: 0;
          width: 0;
          top: 1rem;
          z-index: 1;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
        }
      }
    }

    & > *:nth-child(even) {
      left: 0;

      & figure {
        right: -20px;
      }

      .text-box {
        align-self: flex-end;
        & span {
          border-left: 15px solid rgba(255, 0, 0, 0.4);
          right: -15px;
        }
      }
    }

    & > *:nth-child(odd) {
      left: 50%;

      & figure {
        left: -20px;
      }

      .text-box {
        align-self: flex-start;
        & span {
          border-right: 15px solid rgba(0, 0, 0, 0.4);
          left: -15px;
        }
      }
    }
  }
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes movedown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .timeline {
    padding: 20px;
    margin: 50px auto;

    &::after {
      left: 40px;
    }

    & > li {
      inline-size: 100%;
      padding-left: 80px;
      padding-right: 30px;
    }

    & > *:nth-child(even) {
      left: 0;

      & img {
        right: unset;
        left: -3px;
      }

      .text-box {
        align-self: flex-start;
        & span {
          border-left: 15px solid rgba(255, 0, 0, 0.4);
          border-left: unset;
          border-right: 15px solid rgba(255, 0, 0, 0.4);
          left: -15px;
        }
      }
    }

    & > *:nth-child(odd) {
      left: 0%;

      & img {
        left: -3px;
      }

      .text-box {
        & span {
          border-right: 15px solid rgba(0, 0, 0, 0.4);
          left: -15px;
        }
      }
    }
  }
}
