.files-view {
  inline-size: 100%;
}

.file-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.files-actions {
  display: flex;

  margin-block-end: 1rem;

  & > :first-child {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    align-items: center;
    padding: 0.9rem 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    color: var(--button-blue);
    font-size: 1.2rem;

    & svg {
      width: 1.2rem;
      height: 1.2rem;
    }

    &:hover {
    }
  }
}
