.project__list--card {
  max-width: 276px;
  height: auto;
  aspect-ratio: 1/1;
  transition: background-color 0.3s ease;
  outline: 1px solid transparent;
  padding: 0.4rem;
  border-radius: 0.4rem;
  display: flex;
  flex-flow: column nowrap;
  outline-color: rgba(0, 0, 0, 0.1);

  &:not(.selected) {
    &:hover,
    &:has(:hover) {
      background-color: rgba(0, 0, 0, 0.09);
      outline-offset: -2px;
      outline-color: black;
    }
  }

  &.selected {
    outline: 2px dashed #007bff;
    outline-offset: -1px;
    background-color: rgba(30, 111, 169, 0.1);

    & > *:first-child > *:last-child::after {
      opacity: 1;
    }
  }

  & > *:first-child {
    flex: 1;

    & > * {
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 100%;
      padding: 0.4rem;
      cursor: pointer;
      outline: 0.1px solid transparent;
      aspect-ratio: 1/1;

      &:first-child {
        float: right;
        position: relative;
      }

      &:last-child {
        float: left;
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.3);

        &::after {
          position: absolute;
          content: "✔";
          font-size: 14px;
          font-weight: bold;
          color: white;
          background-color: green;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: absolute;
          inset: 0;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          opacity: 0;
        }

        & input {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
        }
      }

      &:hover {
        outline-color: rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  & > *:last-child {
    flex: 1;
  }

  & figure {
    flex: 2;
    display: grid;
    place-content: center;
    position: relative;

    & button {
      position: absolute;
      background-color: transparent;
      border-radius: 100%;
      padding: 0.3rem;
      border: 1px solid transparent;
      cursor: pointer;
      top: 50%;
      left: 57%;
      outline: 1px solid transparent;

      & svg {
        fill: white;
      }

      &:hover {
        outline-color: white;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    & .project__list--icon {
      max-width: 120px;
      object-fit: cover;
    }
  }

  & footer {
    width: 100%;
    font-weight: medium;
    font-size: 1.3em;

    & p {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      margin: 0 auto;
    }
  }
}
