.project__list--card {
  max-width: 276px;
  height: auto;
  aspect-ratio: 1/1;
  transition: background-color 0.3s ease;
  outline: 1px solid transparent;
  padding: 0.4rem;
  overflow: hidden;
  border-radius: 0.4rem;

  display: flex;
  flex-flow: column nowrap;

  & > *:first-child {
    flex: 1;

    & > * {
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 100%;
      padding: 0.4rem;
      cursor: pointer;
      float: right;
      outline: 0.1px solid transparent;

      &:hover {
        outline-color: rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  & > *:last-child {
    flex: 1;
  }

  & figure {
    flex: 2;
    display: grid;
    place-content: center;

    & .project__list--icon {
      max-width: 120px;
      object-fit: cover;
    }
  }

  & footer {
    width: 100%;
    font-weight: medium;
    font-size: 1.3em;

    & p {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      margin: 0 auto;
    }
  }

  &:hover,
  &:has(:hover) {
    background-color: rgba(0, 0, 0, 0.09);
    outline-offset: -2px;
    outline-color: black;
  }
}
