.project__home--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 2rem;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-block: 0.8rem;

  & > *:first-child {
    font-size: 1.875em;
    font-weight: bold;
  }

  & > *:nth-child(2) {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    text-wrap: nowrap;
    gap: 0.5rem;

    & button {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      text-wrap: nowrap;
      padding-block: 0.4rem;
      padding-inline: 0.6rem;
      cursor: pointer;
      border-radius: 0.3rem;
      border: 1px solid transparent;

      &:first-child {
        color: white;
        background-color: var(--button-blue);
        gap: 0.5rem;

        &:hover {
          background-color: var(--button-blue-hover);
        }
      }

      &:last-child {
        background-color: transparent;
        text-decoration: underline;
        color: var(--button-blue);

        &:hover {
          border-color: black;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
