.project__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.4rem;
  list-style: none;

  & > p {
    color: red;
  }
}

.project-card-list-container {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}