.project__home--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 2rem;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-block: 0.8rem;
  margin-bottom: 0.5rem;

  & > *:first-child {
    font-size: 1.875em;
    font-weight: bold;
  }

  & > *:nth-child(2) {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    text-wrap: nowrap;
    gap: 0.5rem;

    & button {
      display: flex;
      gap: 0.3rem;
      align-items: center;
      padding: 0.5rem 0.9rem;
      font-size: 1rem;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      color: var(--button-blue);

      &:first-child {
        color: white;
        background-color: var(--button-blue);
        gap: 0.5rem;

        &:hover {
          background-color: var(--button-blue-hover);
        }
      }

      &:last-child {
        text-decoration: underline;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
          transform: scale(0.95);
          transition: opacity 0.3s ease, transform 0.3s ease;
        }
      }
    }
  }
}
