.admincredential {
  display: flex;
  flex-direction: column;
  block-size: 100%;

  > .admincredential--container {
    padding-block: 0.25rem;
    padding-inline: 1rem;
    align-self: center;
    inline-size: 100%;
    block-size: 100%;
    min-block-size: 100px;
    min-inline-size: 300px;
    overflow: hidden;
    border-radius: 0.75rem;
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;

    > *:not(.no-flex) {
      flex: 1;
    }
  }

  figure {
    display: block;
    block-size: 100px;
    inline-size: 100%;
    display: flex;
    justify-content: center;
    margin-block-end: 1rem;

    img {
      border-radius: 1rem;
      display: block;
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }
  }

  fieldset {
    display: grid;
    border: 1px solid transparent;

    > legend {
      text-align: center;
      text-transform: capitalize;
      font-size: 1.2em;
      font-weight: bold;
      margin-block-end: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      inline-size: 100%;

      color: var(--text-color);
    }

    > div {
      display: grid;
      gap: 0.4rem;

      label {
        color: var(--text-color);
        input {
          margin-block-start: 0.25rem;
          inline-size: 100%;
          border-radius: 0.25rem;
          background-color: var(--primary-color);
          color: var(--text-color);
          height: 40px;
          padding-inline: 1rem;

          &:focus {
            outline: 2px solid var(--secondary-color);
            outline-offset: 2px;
          }
        }

        &:last-of-type {
          display: flex;
          flex-direction: column;

          > div {
            display: flex;
            inline-size: 100%;
            gap: 0.5rem;
          }

          button {
            margin-block-start: 0.25rem;
            border: 2px solid var(--bg-style-color);
            border-radius: 0.25rem;
            display: grid;
            place-content: center;
            inline-size: 40px;
            cursor: pointer;

            > svg {
              block-size: 20px;
              fill: var(--bg-style-color);
            }

            &:hover {
              > svg {
                fill: black;
              }
            }
          }
        }
      }
    }
  }

  hr {
    margin-block: 1rem;
  }

  footer {
    display: flex;
    align-items: center;
    margin-block-end: 1rem;

    gap: 1rem;

    small {
      color: var(--subheading-color);
    }

    button {
      border: 1px solid var(--bg-style-color);
      border-radius: 0.75rem;
      background-color: var(--primary-color);
      color: var(--text-color);
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    a {
      border-radius: 0.25rem;
      max-inline-size: 230px;
      padding-inline: 0.3rem;
      padding-block: 0.4rem;

      text-decoration: none;
      text-wrap: none;

      cursor: pointer;

      background-color: var(--primary-color);

      color: var(--text-color);

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      inline-size: 100%;

      &:hover {
        background-color: var(--secondary-hover-color);
      }
    }
  }
}
