.enterprise-projects__list {
  > .table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    inline-size: 100%;
  }

  .table-header,
  .table-row {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    background: var(--primary-color-enterprise);
    color: var(--text-color-enterprise);
    padding: 0.75rem;
    border-radius: 0.5rem;
    list-style: none;
    margin: 0;

    li {
      padding: 0.5rem;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-inline-size: 100%;
      max-inline-size: 200px;
    }
  }

  .table-header {
    font-weight: bold;
    background: var(--secondary-color-enterprise);
  }
}
