.dropdown-projects--list {
  list-style: none;
  background-color: var(--card-background);
  flex: 1;
  & li {
    cursor: pointer;
    transition: background-color 0.3s ease;

    button {
      text-wrap: wrap;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
