.modal {
  inset: 0;
  margin: auto;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s, transform 0.5s, display 0.5s, overlay 0.5s;
  transition-behavior: allow-discrete;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1000;

  max-inline-size: fit-content;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(100%);
    transition: transform 0.5s ease;
  }

  &[open] {
    opacity: 1;
    transform: translateY(0%);

    &::backdrop {
      transform: translate(0);
    }
  }
}

@starting-style {
  .modal[open] {
    opacity: 0;
    transform: translateY(-50%);

    &::backdrop {
      transform: translate(100%);
    }
  }
}

.modal__content {
  display: grid;
  gap: 0.5em;
  align-content: center;
  justify-items: center;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;

  & .modal__close-button {
    background-color: transparent;
    border: 1px solid transparent;
    width: fit-content;
    aspect-ratio: 1;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 100%;
    display: grid;
    place-content: center;
    padding: 0.2rem;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.2);
      border-color: rgba(0, 0, 0, 1);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  & .modal__title {
    margin: 0;
    font-size: 1.5rem;
  }
}
