.modal {
  border-radius: 10px;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s, transform 0.5s, display 0.5s, overlay 0.5s;
  transition-behavior: allow-discrete;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1000;

  inline-size: clamp(300px, 90%, 1000px);
  block-size: auto;
  max-block-size: 600px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(100%);
    transition: transform 0.5s ease;
  }

  &[open] {
    opacity: 1;
    transform: translateY(0%);

    &::backdrop {
      transform: translate(0);
    }
  }
}

@starting-style {
  .modal[open] {
    opacity: 0;
    transform: translateY(-50%);

    &::backdrop {
      transform: translate(100%);
    }
  }
}
