.groupsCard {
  display: flex;

  align-items: center;
  aspect-ratio: 16/9;
  font-size: 0.9rem;
  color: var(--text-color-enterprise);
  border-radius: 0.75rem;
  flex-direction: column;

  background-color: var(--primary-color-enterprise);

  inline-size: 100%;
  max-inline-size: 300px;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

  cursor: pointer;

  position: relative;

  transition: background-color 0.2s ease;

  .just-select {
    position: absolute;
    top: -2%;
    left: -2%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0.5rem;
    pointer-events: none;
    background-color: rgb(0, 255, 119);
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 0 2px white;

    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &.selected {
    outline: 0.8px dashed white;

    .just-select {
      opacity: 1;
    }
  }

  > *:not(:last-child, footer) {
    inline-size: 100%;
    padding-inline: 1rem;
  }

  > *:not(:last-child, hr) {
    flex: 1;
  }

  ul {
    list-style: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.25rem;
    flex-direction: column;
    gap: 0.3rem;

    > div {
      display: flex;
      align-items: center;
      inline-size: 100%;

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 8ch;
      }

      > span {
        background-color: var(--secondary-color-enterprise);
      }

      & > *:nth-child(1) {
        margin-inline-end: auto;
      }
    }

    & > *:nth-child(2) {
      font-size: 0.8rem;
      align-self: flex-start;
      margin-block-end: 1.2rem;
      color: var(--subheading-color-enterprise);
    }
  }

  button {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 0.75rem;
    background-color: var(--secondary-color-enterprise);
    inline-size: fit-content;
    font-size: 1rem;
  }

  > footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    inline-size: 100%;
    margin-block: 0.5rem;
    gap: 0.5rem;

    > * {
      inline-size: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    svg {
      width: 24px;
      height: 24px;
    }

    & .edit svg {
      fill: #09f;
    }

    & .delete svg {
      fill: red;
    }
  }

  > .groupsCardMembers {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    inline-size: 100%;

    > ul {
      display: flex;
      gap: 0.5rem;
      overflow-x: auto;

      margin-block-end: 1rem;

      &.groupsCardRolesList {
        span {
          background-color: var(--secondary-color-enterprise);
          color: var(--text-color-enterprise);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.9rem;
          max-width: fit-content;

          padding-inline: 0.25rem;
          padding-block: 0.125rem;
          border-radius: 0.75rem;
        }
      }

      p {
        color: var(--subheading-color-enterprise);
      }

      li {
        list-style: none;
        padding-block: 0.25rem;

        .avatar-circle {
          width: 2rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: var(--secondary-color-enterprise);
          color: var(--text-color-enterprise);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.9rem;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        }

        &:not(:first-child) {
          margin-left: -10px;
        }
      }
    }
  }
}
