.project--dropdown-menu__options {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 70%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  min-width: 150px;
  width: max-content;
  z-index: 9999;

  & > * {
    border: 1px solid transparent;
  }

  & > *:not(:first-child) {
    border-top: 0.5px solid rgba(0, 0, 0, 1);
  }
  & > li {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    & > button {
      border: none;
      padding: 0.5rem 0.8rem;
      text-wrap: nowrap;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      text-align: left;
      background-color: red;
    }

    & > a {
      text-decoration: none;
    }

    & > button,
    & > a {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;

      & .dropdown-menu__icon {
        fill: black;
        max-width: 32px;
        height: auto;
        aspect-ratio: 1/1;
      }
    }
  }
}
