.headerMainSectionEnterprise {
  color: var(--text-color);
  font-weight: 500;
  line-height: 4rem;
  margin: 0 auto;
  max-width: 980px;

  .title {
    width: fit-content;
    font-size: 3rem;
    background-clip: text;
    background: linear-gradient(to right, #4285f4, #d96570);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    font-size: 2.4rem;
    color: var(--subheading-color);
    margin-block-end: 1.2rem;
  }
}

@media (max-width: 768px) {
  .headerMainSectionEnterprise :is(.title, .subtitle) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .headerMainSectionEnterprise .subtitle {
    font-size: 1.7rem;
  }
}
