.chat-list {
  padding: 2rem 1rem;
  overflow-y: auto;
  block-size: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  inline-size: 100%;
  list-style: none;

  & > li {
    background-color: rgba(0, 0, 0, 0.4);
    inline-size: 50%;
    padding-block: 1rem;
    border-radius: 0.75rem;
    padding-inline: 1.5rem;

    &.bot {
      align-self: flex-start;
      background-color: var(--primary-color);
      color: var(--text-color);
    }

    &.user {
      align-self: flex-end;
      background-color: var(--secondary-color);
      color: var(--text-color);
    }
  }
}

.chat-list .message .loading-indicator {
  display: none;
  gap: 0.8rem;
  width: 100%;
  flex-direction: column;
}
.chat-list .message.loading .loading-indicator {
  display: flex;
}
.chat-list .message .loading-indicator .loading-bar {
  height: 11px;
  width: 100%;
  border-radius: 0.135rem;
  background-position: -800px 0;
  background: linear-gradient(to right, #4285f4, var(--primary-color), #4285f4);
  animation: loading 3s linear infinite;
}
.chat-list .message .loading-indicator .loading-bar:last-child {
  width: 70%;
}
@keyframes loading {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
