/* input */

.typing-area {
  padding: 1rem;
  background: var(--primary-color-enterprise);
  display: block;
  inline-size: 100%;
  flex: 0;
}
.typing-area :where(.typing-form, .action-buttons) {
  display: flex;
  gap: 0.75rem;
}
.typing-form .input-wrapper {
  width: 100%;
  height: 56px;
  display: flex;
  position: relative;
}
.typing-form .typing-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  color: var(--text-color-enterprise);
  padding: 1.1rem 4rem 1.1rem 1.5rem;
  border-radius: 100px;
  background: var(--secondary-color-enterprise);
}
.typing-form .typing-input:focus {
  background: var(--secondary-hover-color-enterprise);
}
.typing-form .typing-input::placeholder {
  color: var(--placeholder-color-enterprise);
}
.typing-area .icon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  font-size: 1.4rem;
  color: var(--text-color-enterprise);
  align-items: center;
  justify-content: center;
  background: var(--secondary-color-enterprise);
  transition: 0.2s ease;
}
.typing-area .icon:hover {
  background: var(--secondary-hover-color-enterprise);
}
.typing-form #send-message-button {
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  transform: scale(0);
  background: transparent;
  transition: transform 0.2s ease;
}
.typing-form .typing-input:valid ~ #send-message-button {
  transform: scale(1);
}
.typing-area .disclaimer-text {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 1rem;
  color: var(--placeholder-color-enterprise);
}

@media (max-width: 768px) {
  .typing-area :where(.typing-form, .action-buttons) {
    gap: 0.4rem;
  }
  .typing-form .input-wrapper {
    height: 50px;
  }
  .typing-form .typing-input {
    padding: 1.1rem 3.5rem 1.1rem 1.2rem;
  }
  .typing-area .icon {
    height: 50px;
    width: 50px;
  }
  .typing-area .disclaimer-text {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
}

.eyes-attention {
  outline: 2px solid var(--text-color-enterprise);
  animation: outline-dance 1.2s infinite;
}

@keyframes outline-dance {
  0%,
  100% {
    outline-offset: -7px;
  }

  50% {
    outline-width: 4px;
    outline-offset: 5px;
  }
}
