.select-dropdown {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 12px;
  cursor: pointer;
  width: 100px;
  block-size: fit-content;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;

  overflow: hidden;

  &:hover {
    background-color: #e0e0e0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-top: 6px solid #888;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    pointer-events: none;
  }

  & > select {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    border: 1px solid transparent;
    padding-block: 10px;
    padding-inline: 14px 36px;
    border-radius: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #333;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    &:is(:active, :focus) {
      outline: none;
      box-shadow: none;
    }
  }
}
