.button--primary {
  text-decoration: none;

  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease-in-out;
  color: var(--background);
  text-wrap: nowrap;
  background-color: var(--secondary-color);
  text-wrap: nowrap;

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}
