.enterpriselayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  grid-template-rows: 80px 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar main";

  > section {
    grid-area: main;
    min-block-size: 100vh;
    display: block;
    inline-size: 100%;
    padding-inline: 2rem;
    padding-block: 1.5rem;

    > h1 {
      margin-inline: auto;
      max-inline-size: 980px;
    }
  }
}

@media (max-width: 640px) {
  .enterpriselayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
      "header"
      "main";

    > section {
      grid-area: main;
      padding-inline: 1rem;
      padding-block: 0.5rem;
    }
  }
}

.container__grid-metrics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  inline-size: 100%;

  > .container__metrics {
    display: flex;
    gap: 1rem;
  }

  .container__metrics > * {
    block-size: auto;
  }
}

.container__quick-actions {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;

  > :last-child {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 1rem;
    cursor: pointer;
  }
}
