.container__list-workspaces {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: flex-start; 
  gap: 0.75rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.container__list-workspaces li {
  max-width: fit-content; 
  box-sizing: border-box;
}
