@layer reset {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
  }
}

@layer base {
  html {
    font-family: sans-serif;
    color: #333;
  }

  :root {
    color-scheme: light;

    --background: #ffffff;
    --foreground: #171717;

    --primary-color: #9ce3d6;
    --primary-color-hover: #7fd0c0;

    --secondary-color: #6977d2;
    --secondary-color-hover: #5463b5;

    --text-color: #433f65;
    --text-color-hover: #2f2b4d;

    --sky-blue: #083f7a;
    --sky-blue-hover: #062f5c;

    --placeholder-color: #909bdd;
    --placeholder-color-hover: rgba(105, 119, 210, 0.2);

    --button-blue: #254fab;
    --button-blue-hover: #1f4190;

    --card-background: #f5f5f5;
    --card-background-hover: #e6e6e6;
    --bg-color-f9: #f9f9f9;

    --bg-color-yellow: #f5bf47;
    --bg-color-yellow-hover: #e0a836;

    --bg-linear-gradient-full: linear-gradient(90deg, #9ce3d6 0%, #cca1f4 100%);
    --bg-linear-gradient-full-hover: linear-gradient(
      90deg,
      #cca1f4 0%,
      #9ce3d6 100%
    );

    --bg-linear-gradient-semifull: linear-gradient(
      to right,
      #9ce3d6 0%,
      #cca1f4 100%
    );
    --bg-linear-gradient-semifull-hover: linear-gradient(
      to right,
      #cca1f4 0%,
      #9ce3d6 100%
    );

    /* color analysis page*/
    --hover-row-table: #065dfe5e;

    /* colors tab desactive */
    --deactive-tab: #f5be47a1;
  }

  body {
    font-family: "Inter", Helvetica, sans-serif;
    min-block-size: 100vh;
  }
}

@layer observer {
  .hiddenElement {
    opacity: 0;
    transform: translateY(30%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  .visibleElement {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  .hiddenImage {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }

  .visibleImage {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }

  .hiddenImageRight {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }

  .visibleImageRight {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }

  .hiddenImageLeft {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }

  .visibleImageLeft {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }
}

/*view transition*/
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(2rem);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::view-transition-old(page) {
  opacity: 1;
  animation: slide-out 0.5s ease-in-out forwards;
}

::view-transition-new(page) {
  opacity: 0;
  animation: slide-in 0.5s ease-out forwards;
  animation-delay: 300ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

.login_signup--Layout {
  display: grid;
  place-content: center;
  min-block-size: 100vh;
  min-block-size: 100dvh;
}

@layer utility {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
  }
}
