table {
  inline-size: 100%;
  overflow-x: auto;

  border-collapse: collapse;

  & input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1;
    cursor: pointer;
  }

  & td {
    vertical-align: top;

    & img {
      height: 40px;
      aspect-ratio: 1/1;
      max-inline-size: 100%;

      border-radius: 100%;

      object-fit: cover;
      background-color: red;
      background-size: cover;
      display: block;
      margin: 0 auto;
    }
  }

  & tr {
    height: auto;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  & tr.selected td {
    background-color: var(--hover-row-table);
  }

  & caption {
    font-size: 1.875em;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;

    margin-inline: auto;
    inline-size: 100%;
    margin-block-end: 1rem;

    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      bottom: -15px;
      width: 100%;
      height: 0.25rem;
      background-color: var(--primary-color);
    }
  }

  & thead {
    & tr {
      &:first-child > th:is(:first-child, :last-child) {
        visibility: hidden;
      }

      & th {
        padding: 1rem;
      }
    }
  }

  & tbody {
    display: table-row-group;
    vertical-align: top;
    inline-size: 100%;
    & tr {
      & td {
        padding: 0.4rem;

        &:first-child {
          width: 1rem;
          text-align: center;

          & svg {
            margin-left: 0.5rem;
            stroke: black;
            stroke-width: 10px;
            fill: none;
            cursor: pointer;

            &.favorite {
              fill: yellow;
              stroke: yellow;
            }
          }
        }

        & > div {
          padding: 0.25rem;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
        }
      }
    }
  }

  & tfood {
    width: 100%;
    margin-top: 1rem;
    & tr {
      width: 100%;
      & td {
        margin: 0 auto;
      }
    }
  }
}
