.header,
.chat-list .message,
.chat-list,
.typing-form,
.suggestion-list {
  margin: 0 auto;
  max-width: 980px;
}

/* modal */
.suggestions-help {
  background-color: #f9fafb;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #e5e7eb;
  max-inline-size: 500px;
  inline-size: 100%;
}

.suggestions-help h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.suggestions-help ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin: 0.5rem 0;
}

.suggestions-help .icon {
  color: #f59e0b;
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin-inline: auto;
  overflow: hidden;
  flex: 1;
}

.chat-messages {
  flex: 1;
  padding: 1.5rem 1rem;
  scroll-behavior: smooth;
}

.typing-footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background: var(--primary-color);
  width: 100%;
  z-index: 1;
  left: 50%;
  transform: translateX(-40%);
}
