.enterprise-groups__hero {
  display: flex;

  background-color: var(--secondary-color);
  border-radius: 0.75rem;

  align-items: center;
  justify-content: center;

  padding-inline: 1rem;
  padding-block: 0.5rem;

  inline-size: 100%;
  max-inline-size: 980px;
  margin: 0 auto;
  margin-block-end: 2rem;

  > nav {
    inline-size: 100%;
    display: flex;
    align-items: center;
  }

  & button {
    border: none;
    width: 42px;
    height: 42px;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    border-radius: 9999px;
    transition: background-color 0.2s ease-in-out, transform 0.4s ease-in-out;

    color: var(--text-color);
    background: var(--primary-color);

    margin-inline-start: auto;

    &:hover {
      background-color: var(--secondary-hover-color);
    }
  }

  & .icon {
    font-size: 1.2rem;
    display: flex;
    position: absolute;
    transition: transform 0.6s, opacity 0.6s;
    backface-visibility: hidden;
  }
}

.containerGroupsList {
  inline-size: 100%;

  max-block-size: 600px;
  block-size: 100%;

  display: flex;
  flex: 1;

  > ul {
    display: grid;
    inline-size: 100%;

    overflow: hidden;

    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    column-gap: 1rem;
    row-gap: 2rem;
    padding-inline: 0.25rem;
    padding-block: 0.75rem;

    border-radius: 0.75rem;

    > li {
      background-color: var(--primary-color);

      inline-size: 100%;
      max-inline-size: 400px;
      border-radius: 0.5rem;
      padding: 1rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

.enterprise-groups__search {
  margin-inline-end: auto;

  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;

  padding-inline: 0.5rem;
  padding-block: 0.375rem;

  background-color: var(--primary-color);

  gap: 0.5rem;

  label {
    position: relative;

    > span {
      position: absolute;

      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.5rem;
      font-size: 0.75rem;
      border-radius: 0.75rem;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

      background-color: var(--secondary-color);

      color: var(--text-color);
    }
  }

  input {
    color: var(--text-color);
    inline-size: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    padding-inline: 0.25rem;
    padding-block: 0.25rem;
    outline: 1px solid transparent;

    &::placeholder {
      color: var(--subheading-color);
    }

    &:is(:focus-visible, :focus, :active) {
      background-color: var(--secondary-hover-color);
      border-radius: 0.25rem;
      outline: 1px solid var(--secondary-hover-color);
    }

    &:focus {
      outline: 1px solid var(--secondary-hover-color);
    }
  }
}
