.card--analysis {
  font-size: Inter;
  background-color: var(--card-background);
  border: 2px solid var(--secondary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--card-background-hover);
  }

  & .card--analysis__image {
    width: 36px;
    height: 36px;
    max-width: 100%; 
    overflow: hidden;
    
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card--analysis__title {
  text-align: center;
  font-size: clamp(1.3rem, calc(0.3vw + 1rem), 2.2rem);
  font-weight: bold;
  margin-top: 0.5rem;
  color: var(--text-color);
  
}

.card--analysis__description {
  font-size: clamp(1rem, calc(0.2vw + 1rem), 1.8rem);
  text-wrap: wrap;
  color: var(--text-color);
  text-align: center;
  margin-top: 0.25rem;
}
