.project__options--list {
  display: flex;
  list-style: none;
}

.project__home--description {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  ul {
    position: relative;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.05);
    list-style: none;
    display: flex;
    gap: 0.5rem;
  }

  /* Fondo dinámico que se mueve detrás de los botones */
  .indicator {
    position: absolute;
    background-color: white;
    border: 1px solid var(--button-blue);
    border-radius: 0.5rem;
    z-index: 0; /* Por debajo de los botones */
    transition: all 0.3s ease;
  }

  li {
    position: relative;
    z-index: 1; /* Para que los botones queden sobre el fondo */
  }

  & button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding: 0.5rem 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: var(--button-blue);
    position: relative;
    z-index: 1;

    &.active {
      color: black;
    }
  }
}
