.enterprise-users {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  overflow: hidden;

  > * {
    max-inline-size: 980px;
    margin: 0 auto;
  }

  .enterprise-users__hero {
    display: flex;
    inline-size: 100%;
    margin-block-end: 2rem;

    background-color: var(--secondary-color);
    border-radius: 0.75rem;

    align-items: center;
    justify-content: center;

    padding-inline: 1rem;
    padding-block: 0.5rem;

    .enterprise-users__search {
      margin-inline-end: auto;

      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 0.875rem;

      padding-inline: 0.5rem;
      padding-block: 0.375rem;

      background-color: var(--primary-color);

      gap: 0.5rem;

      label {
        position: relative;

        > span {
          position: absolute;

          right: 0;
          top: 50%;
          transform: translateY(-50%);
          padding: 0.5rem;
          font-size: 0.75rem;
          border-radius: 0.75rem;

          display: flex;
          align-items: center;
          justify-content: center;

          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

          background-color: var(--secondary-color);

          color: var(--text-color);
        }
      }

      input {
        color: var(--text-color);
        inline-size: 100%;
        background-color: transparent;
        border: 1px solid transparent;
        padding-inline: 0.25rem;
        padding-block: 0.25rem;
        outline: 1px solid transparent;

        &::placeholder {
          color: var(--subheading-color);
        }

        &:is(:focus-visible, :focus, :active) {
          background-color: var(--secondary-hover-color);
          border-radius: 0.25rem;
          outline: 1px solid var(--secondary-hover-color);
        }

        &:focus {
          outline: 1px solid var(--secondary-hover-color);
        }
      }
    }

    nav {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      margin: 0;
      padding: 0;

      button {
        cursor: pointer;
        outline: 3px solid transparent;
        border-radius: 100%;
        background-color: none;

        &:hover {
          outline-color: var(--primary-color);
          outline-offset: 2px;
        }

        > svg {
          box-shadow: unset;
        }
      }
    }
  }

  .enterprise-users__table {
    background-color: var(--secondary-color);
    padding: 0.75rem;
    border-radius: 0.75rem;
  }
}
