.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  height: 100vh;
  height: 100dvh;
  min-height: 100vh;
  overflow: hidden;
}

@media (min-width: 640px) {
  /* sm */
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  /* md */
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  /* 2xl */
  .container {
    max-width: 1536px;
  }
}

/* .container permanece sin cambios */
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  overflow: hidden;
  height: 100vh;
  min-height: 100vh;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: transparent; 
  z-index: -1;
  border-radius: 15px;
}

.container:nth-of-type(2)::before {
  background: linear-gradient(to right, #9CE3D6 0%, #CCA1F4 100%);
}

.container:nth-of-type(3)::before {
  background: radial-gradient(circle, rgba(0, 0, 255, 0.5) 10%, rgba(0, 0, 255, 0) 100%);
}

.container:nth-of-type(4)::before {
  background: radial-gradient(circle, rgba(255, 255, 0, 0.5) 10%, rgba(255, 255, 0, 0) 100%);
}