.sectionTwo__content {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: min(2rem, 2%);
  margin: auto;
}

.sectionTwo__title {
  font-size: clamp(2.5rem, calc(2vw + 1rem), 3rem);
  font-weight: bold;
  color: white;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  flex: 1;
  justify-self: flex-end;

  &::after {
    content: "";
    margin: 25px 0 50px 0;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #0071b9;
    background: linear-gradient(
      to right,
      white,
      #000000,
      #000000,
      #000000,
      white
    );
  }
}

.sectionTwo__description {
  flex: 1;
  font-size: clamp(1.25rem, calc(2vw + 0.5rem), 2rem);
  color: white;
  max-width: 800px;
  font-weight: 600;
  line-height: 1.6;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.sectionTwo__buttons {
  flex: 2;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  max-width: 1200px;
}

.sectionTwo__button {
  padding: 12px 24px;
  background-color: white;
  color: #0284c7;
  text-wrap: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  margin: 0.5rem 0;
  cursor: pointer;
  &:hover {
    background-color: #e2e8f0;
  }
}

@media (max-width: 768px) {
  .sectionTwo__title {
    flex: 0;
    justify-self: flex-start;
  }

  .sectionTwo__buttons {
    flex: 0;
    gap: 0.1rem;
  }

  .sectionTwo__button {
    width: 100%;
  }

  .sectionTwo__description {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .sectionTwo__buttons {
    gap: 0.3rem;
  }

  .sectionTwo__button {
    width: auto;
    flex-basis: auto;
  }
}
