/* Contenedor principal */
.section {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

/* Contenido */
.section__content {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Bloque principal */
.section__main {
  flex: 1;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.section__img {
  flex: 2;
}

/* Título */
.section__title {
  flex: 2;
  font-size: clamp(2.5rem, calc(2vw + 1rem), 3rem);
  font-weight: bold;
  line-height: 1.3;
  color: #1f2937;
  width: 100%;
  text-wrap: balance;
  align-self: center;

  &::after {
    content: "";
    margin: 25px 0 50px 0;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #0071b9;
    background: linear-gradient(
      to right,
      white,
      #0071b9,
      #26abff,
      #0071b9,
      white
    );
  }
}

/* Descripción */
.section__description {
  flex: 1;
  color: #4b5563;
  line-height: 2;
  width: 100%;
  font-size: clamp(1.25rem, calc(0.5vw + 0.5rem), 2rem);
  font-weight: 700;
  text-align: start;
  text-wrap: balance;
  padding: min(2rem, unset);
  align-self: center;
}

@media (max-width: 768px) {
  .section__main {
    margin-bottom: auto;
    display: flex;
    gap: 3rem;
  }
}

@media (min-width: 768px) {
  .section__main {
    flex-direction: row;
  }
  .section__title {
    width: 50%;
  }
  .section__description {
    width: 50%;
  }
  .section__img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
  }
  .section {
    height: 100vh;
  }
}