.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px dashed var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  flex: 2;
  height: max-content;
  width: 100%;
  transition: background-color 0.3s, border-color 0.3s;

  &.drag-over {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--secondary-color-hover);
  }

  & .upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;

    &:hover > * {
      color: var(--secondary-color);
    }

    & h3 {
      color: #333;
      text-align: center;
    }

    & .upload-input {
      display: none;
    }
  }

  & hr {
    width: 60%;
    border: none;
    border-top: 1px solid #333;
  }

  & .upload-file-formats {
    & small {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  & .upload-buttons {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    justify-content: center;
    align-items: center;

    & button {
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      display: grid;
      grid-template-areas: "stack";
      align-items: center;
      justify-content: center;
      max-height: 50px;
      height: 50px;
      transition: all 0.3s ease;

      &:disabled {
        pointer-events: none;
      }
    }

    & button:first-child {
      background-color: var(--secondary-color);
      color: #fff;
    }

    & button:last-child {
      background-color: #e2e8f0;
      color: #333;
    }

    & button:hover {
      filter: brightness(0.9);
      outline: 1px solid var(--secondary-color);
    }
  }
}
