.enterprise-user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  inline-size: 100%;

  button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding: 0.5rem 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: var(--button-blue);

    &.edit {
      background-color: #09f;
      color: white;
    }

    &.delete {
      background-color: #f44336;
      color: white;
    }
  }
}

.enterprise-user-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.enterprise-user-item.selected {
  background-color: var(--hover-row-table);
}

.user-select {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.user-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.user-avatar::before {
  content: attr(data-name);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  inset: 0;
  z-index: 10;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
  text-align: left;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
