.suggestions-Enterprise {
  display: block;
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 1400px;
  max-block-size: 850px;

  > header {
    h1 {
      font-size: 1.25em;
      font-weight: 600;
      color: #000000;
    }

    p {
      font-size: 0.875em;
      color: #000000;
      margin-top: 0.25rem;
    }
  }

  > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-block-start: 1rem;
    max-block-size: 600px;
    overflow-y: hidden;
    block-size: 100%;

    > * {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 0.25rem;
      padding-inline: 0.5rem;
      padding-block: 0.375rem;
      background-color: #f2f2f2;

      overflow: hidden;
      max-block-size: 700px;
    }

    legend {
      padding: 0.25rem;
      font-size: 1.5em;
      font-weight: 600;
      color: #000000;
    }
  }
}

.form-suggestions {
  flex: 1;

  button {
    margin-block-start: 1rem;
    inline-size: 100%;
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1em;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      background-color: #4f46e5;
    }
  }

  > form {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > *:not(:last-child) {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    textarea {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.859);
      border: 1px solid rgba(0, 0, 0, 0.3);
      padding: 0.5rem;
      font-size: 1em;
      border-radius: 0.25rem;
      color: #000000;
      min-width: 400px;

      min-height: 60px;
      max-height: 80px;
      resize: vertical;

      &::placeholder {
        color: #a1a1aa;
      }

      &:focus {
        outline: 2px solid var(--secondary-color);
        outline-offset: 2px;
      }
    }
  }
}

.suggestions {
  flex: 2;
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.25em;
    font-weight: 600;
    color: #00000085;
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;

    display: inline-block;
    text-align: center;
  }

  .suggestions-chat {
    flex: 1;
    position: relative;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;

    overflow: hidden;

    & > .suggestions-chat--info {
      position: absolute;
      bottom: 10px;
      right: 50%;
      width: 80%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      transform: translateX(50%);

      background-color: transparent;
      padding-inline: 0.5rem;
      padding-block: 0.25rem;
      border-radius: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.3);

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgba(0, 0, 0, 0.3);
        transform: translateX(50%);
      }
    }

    .suggestions-chat--messages {
      inline-size: 100%;
      display: flex;

      > * {
        flex: 1;
      }

      > ul {
        overflow: auto;
        inline-size: 100%;
        block-size: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        list-style: none;

        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        li {
          padding-inline: 0.5rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 0.25rem;
          font-size: 0.8rem;

          &:has(.msg--user) {
            margin-inline-end: auto;
            text-align: left;
          }

          &:has(.msg--bot) {
            text-align: right;
            margin-inline-start: auto;

            animation: fadeSlideIn 0.4s ease-out;
            background: #f0f0f0;
            border-radius: 10px;
            padding: 12px;
            margin: 10px 0;
            max-width: 80%;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.typing-dots {
  span {
    animation: blink 1s infinite;
    font-weight: bold;
    font-size: 20px;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
