.userWorkspace--container {
  display: grid;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header  header"
    "aside   main"
    "footer  footer";
}

.wu-header {
  grid-area: header;
  width: 100%;
}

.wu-aside {
  grid-area: aside;
}

.wu-main {
  grid-area: main;
  height: 200vh;
}

.wu-footer {
  grid-area: footer;
  width: 100%;
}
