:root {
    --second-color: var(--primary-color);
}

/* Indicador de progreso */
.signup__progress {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    inline-size: 100%;
}

.signup__progress-step {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.signup__progress-step--active {
    background-color: var(--second-color);
}

.signup__progress-line {
    width: 50px;
    height: 4px;
    background-color: #000000;
    transition: background-color 0.3s;
}

.signup__progress-line--active {
    background-color: var(--second-color);
}