@layer reset {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer base {
  html {
    font-family: sans-serif;
    color: #333;
  }

  :root {
    color-scheme: light;

    --background: #ffffff;
    --foreground: #171717;

    --primary-color: #9ce3d6;
    --primary-color-hover: #7fd0c0;

    --secondary-color: #6977d2;
    --secondary-color-hover: #5463b5;

    --text-color: #433f65;
    --text-color-hover: #2f2b4d;

    --sky-blue: #083f7a;
    --sky-blue-hover: #062f5c;

    --placeholder-color: #909bdd;
    --placeholder-color-hover: #7b86c6;

    --button-blue: #254fab;
    --button-blue-hover: #1f4190;

    --card-background: #f5f5f5;
    --card-background-hover: #e6e6e6;
  }

  body {
    font-family: 'Inter', Helvetica, sans-serif;
  }
}

@layer observer {
  .hiddenElement {
    opacity: 0;
    transform: translateY(30%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  .visibleElement {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}
