.enterpriselayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  padding-inline: 10px;
  padding-block: 10px;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  grid-template-rows: 80px 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar main";

  > section {
    grid-area: main;
    overflow-y: auto;
    min-block-size: 100vh;
    display: block;
    inline-size: 100%;
    padding-inline: 2rem;
    padding-block: 1.5rem;

    h1 {
      margin-block: 1rem;
      color: rgba(0, 0, 0, 0.6);
    }

    > h1 {
      color: rgba(0, 0, 0, 0.8);
    }

    > article {
      overflow: hidden;
      padding-inline: 0.25rem;
      padding-block: 0.5rem;
    }

    > *:not(:first-child) {
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.grid-container {
  background-color: rgba(250, 250, 250, 0.1);
  --grid-max-col-count: 3;
  --grid-min-col-size: 180px;
  --grid-gap: 0.5rem;
  display: grid;
  place-items: center;
  gap: var(--grid-gap);

  inline-size: 100%;
  align-content: center;

  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-min-col-size), 1fr)
  );

  & > .box {
    min-block-size: 200px;
    height: 100%;
    inline-size: 100%;
    max-width: 300px;
    border-radius: 0.25rem;
    transform: translateY(0);
    transition: transform 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.4);

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    }
  }

  & > .box-metrics {
    overflow: hidden;

    padding-block: 0.25rem;
    padding-inline: 0.5rem;

    img {
      max-inline-size: 100%;
    }

    > * {
      padding-inline: 0.75rem;
    }

    > header {
      display: flex;
      align-items: center;
      inline-size: 100%;

      > :first-child {
        margin-right: auto;
      }
    }

    > main {
      display: grid;
      gap: 0.25rem;

      margin-block-end: 1rem;

      strong {
        font-size: 1.25em;
      }

      small {
        color: rgb(144, 234, 144);

        & mark {
          background-color: var(--primary-color);
        }
      }
    }

    > figure {
      inline-size: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      > figcaption {
        display: none;
      }

      img {
        block-size: 30%;
        max-block-size: 150px;
        object-fit: cover;
        border-radius: 0.25rem;
      }
    }
  }

  & > .box-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      margin-block-end: 0.5rem;
      border-radius: 100%;

      display: grid;
      place-content: center;
      inline-size: 30px;
      aspect-ratio: 1/1;

      transition: background-color 0.3s ease, fill 0.3s ease;

      svg {
        fill: var(--secondary-color);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);

        > svg {
          fill: rgba(250, 250, 250, 0.7);
        }
      }
    }

    > a {
      --colorsx-: var(--secondary-color);

      text-decoration: none;
      color: rgb(0, 0, 0);
      border: 1px solid var(--colorsx-);
      padding-inline: 0.25rem;
      padding-block: 0.5rem;
      font-weight: 600;
      cursor: pointer;
      border-radius: 0.25rem;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: var(--colorsx-);
        color: rgb(255, 255, 255);
      }
    }
  }
}

.admincredential {
  display: flex;
  justify-content: center;
  flex-direction: column;

  > .admincredential--container {
    padding-block: 0.25rem;
    padding-inline: 1rem;
    align-self: center;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 700px;
    min-block-size: 100px;
    max-inline-size: 500px;
    min-inline-size: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  figure {
    display: block;
    block-size: 100px;
    inline-size: 100%;
    display: flex;
    justify-content: center;
    margin-block-end: 1rem;

    img {
      border-radius: 1rem;
      display: block;
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block-end: 2rem;

    > * {
      inline-size: 100%;
    }

    button {
      padding: 0.25rem;
      display: grid;
      place-content: center;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 100%;
      cursor: pointer;

      transition: backgroud-color 0.3s ease;

      > svg {
        fill: var(--secondary-color);
        stroke: 2px;
        width: 25px;
        height: 25px;
        aspect-ratio: 1/1;
      }

      &:is(:hover, :focus) {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    > div {
      display: flex;
      align-items: center;

      h1 {
        font-size: large;
        margin-right: auto;
      }

      button {
        margin-right: 1rem;
      }
    }

    small {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  fieldset {
    display: grid;
    border: 1px solid transparent;

    > legend {
      text-align: center;
      text-transform: capitalize;
      font-size: 1.2em;
      font-weight: bold;
      margin-block-end: 0.5rem;
    }

    > div {
      display: grid;
      gap: 0.4rem;

      label {
        input {
          margin-block-start: 0.25rem;
          inline-size: 100%;
          border-radius: 0.25rem;
          background-color: rgba(250, 250, 250, 0.9);
          height: 40px;
          padding-inline: 1rem;

          &:focus {
            outline: 2px solid var(--secondary-color);
            outline-offset: 2px;
          }
        }

        &:last-of-type {
          display: flex;
          flex-direction: column;

          > div {
            display: flex;
            inline-size: 100%;
            gap: 0.5rem;
          }

          button {
            background-color: rgba(250, 250, 250, 0.9);
            padding: 0.25rem;
            border: 2px solid var(--secondary-color);
            border-radius: 0.25rem;
            display: grid;
            place-content: center;
            inline-size: 40px;

            > svg {
              block-size: 20px;
              fill: var(--secondary-color);
            }

            &:hover {
              > svg {
                fill: black;
              }
            }
          }
        }
      }
    }
  }

  hr {
    margin-block: 1rem;
  }

  footer {
    display: flex;
    align-items: center;
    margin-block-end: 1rem;

    gap: 1rem;

    small {
      color: rgba(0, 0, 0, 0.4);
    }

    a {
      border-radius: 0.25rem;
      max-inline-size: 230px;
      padding-inline: 0.3rem;
      padding-block: 0.4rem;

      text-decoration: none;
      text-wrap: none;

      cursor: pointer;

      background-color: var(--secondary-color);

      color: white;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      inline-size: 100%;

      &:hover {
        background-color: var(--secondary-color-hover);
      }
    }
  }
}
