.enterpriselayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  padding-inline: 10px;
  padding-block: 10px;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  > div {
    inline-size: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);

    display: block;
    block-size: 100%;

    > section {
      min-block-size: 100vh;
      display: block;
      inline-size: 100%;
      padding-inline: 2rem;
      padding-block: 1.5rem;

      h1 {
        margin-block: 1rem;
        color: rgba(0, 0, 0, 0.6);
      }

      > h1 {
        color: rgba(0, 0, 0, 0.8);
      }

      > article {
        overflow: hidden;
        padding-inline: 0.25rem;
        padding-block: 0.5rem;
      }

      > *:not(:first-child) {
        border: 1px solid transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.grid-container {
  background-color: rgba(250, 250, 250, 0.1);
  --grid-max-col-count: 3;
  --grid-min-col-size: 180px;
  --grid-gap: 1rem;

  max-height: 1000px;
  height: 100%;

  display: grid;
  gap: var(--grid-gap);

  inline-size: 100%;

  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-min-col-size), 1fr)
  );

  & > .box {
    min-block-size: 200px;
    background-color: rgb(194, 194, 194);
    height: 100%;
    inline-size: 100%;
    border-radius: 0.25rem;
    transform: translateY(0);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    }
  }

  & > .box-metrics {
    overflow: hidden;
  }

  & > .box-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      margin-block-end: 0.5rem;
      border-radius: 100%;

      display: grid;
      place-content: center;
      inline-size: 30px;
      aspect-ratio: 1/1;

      transition: background-color 0.3s ease, fill 0.3s ease;

      svg {
        fill: var(--secondary-color);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);

        > svg {
          fill: rgba(250, 250, 250, 0.7);
        }
      }
    }

    > a {
      --colorsx-: rgba(255, 255, 255, 1);

      text-decoration: none;
      color: white;
      border: 1px solid var(--colorsx-);
      padding-inline: 0.25rem;
      padding-block: 0.5rem;
      font-weight: 600;
      cursor: pointer;
      border-radius: 0.25rem;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: var(--colorsx-);
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
