.enterpriselayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  padding-inline: 10px;
  padding-block: 10px;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  > div {
    inline-size: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);

    display: block;
    block-size: 100%;

    > section {
      min-block-size: 100vh;
      display: block;
      inline-size: 100%;
      padding-inline: 2rem;
      padding-block: 1.5rem;
    }
  }
}

.grid-container {
  background-color: rgba(250, 250, 250, 0.1);
  --grid-max-col-count: 3;
  --grid-min-col-size: 180px;
  --grid-gap: 1rem;

  max-height: 1000px;
  height: 100%;

  display: grid;
  gap: var(--grid-gap);

  inline-size: 100%;

  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-min-col-size), 1fr)
  );

  & > .box {
    min-block-size: 200px;
    background-color: #09f;
    height: 100%;
    inline-size: 100%;
  }
}
