.enterpriselayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  padding-inline: 10px;
  padding-block: 10px;
  block-size: 100vh;
  block-size: 100dvh;

  > div {
    inline-size: 100%;
    border-radius: 0.5rem;
    padding-block-end: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
  }
}

.box {
  background-color: #09f;
}

.grid-container {
  display: grid;
  inline-size: 100%;
    place-content: center;
    height: 100%;
  grid-auto-rows: 400px;
  grid-auto-columns: 200px;
  gap: 1em;
  grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";
  transition: grid-templates-columns 0.5s ease;
}

@media (width < 56em) {
  .grid-container {
    grid-template-areas:
      "box-1 box-1 box-2"
      "box-1 box-1 box-3"
      "box-4 box-5 box-5";
  }
}

@media (width < 42em) {
  .grid-container {
    grid-template-areas:
      "box-1 box-2"
      "box-3 box-2"
      "box-3 box-4"
      "box-5 box-4";
  }
}
