.enterpriselayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  grid-template-rows: 80px 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar main";

  > section {
    grid-area: main;
    overflow-y: auto;
    min-block-size: 100vh;
    display: block;
    inline-size: 100%;
    padding-inline: 2rem;
    padding-block: 1.5rem;

    h1 {
      margin-block: 1rem;
      color: var(--text-color);
    }

    > h1 {
      margin-inline: auto;
      max-inline-size: 980px;
    }

    > article {
      overflow: hidden;
      padding-inline: 0.25rem;
      padding-block: 0.5rem;

      max-inline-size: 980px;
      margin: 0 auto;

      > h1 {
        font-size: 1.4rem;
        color: var(--subheading-color);
        margin-block-end: 1.2rem;
      }
    }
  }
}
