.header-analysis-tabs {
  display: block;
  padding-block: 1.4rem;

  .navigation {
    display: flex;
    gap: 0.4rem;
    padding: 0.4rem;
    background-color: var(--card-background);

    & a {
      background-color: var(--bg-color-yellow);
      font-size: 1.5em;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      text-decoration: none;
      color: var(--foreground);
      font-weight: bold;

      &:visited {
        color: var(--foreground);
      }

      &:hover {
        background-color: var(--bg-color-yellow-hover);
      }
    }
  }
}
