.upload-files {
  display: flex;
  padding: 1rem;
  padding: 4rem;
}

@media (max-width: 1200px) {
  .upload-files {
    flex-direction: column;
  }
}

/* article 1 */
.upload-files__container {
  display: flex;
  width: 100%;

  &:first-child {
    flex: 1;
  }

  &:last-child {
    flex: 2;
  }

  & .upload-files__files-section {
    padding: 1rem;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;

    & .upload-files__title {
      font-size: clamp(2rem, calc(1vw + 0.2rem), 2.2rem);
      font-weight: 400;
      margin-bottom: 0.4rem;
    }

    & .upload-files__warnings {
      & > * {
        display: block;
        text-wrap: wrap;
        text-align: start;
      }

      /* footer */
      .upload-files__warning-text {
        /*small*/
        font-size: clamp(0.8rem, calc(1vw + 0.2rem), 1rem);
        font-weight: 500;
      }

      .upload-files__example-link {
        /*strong*/
        margin-top: 0.4rem;
        font-size: clamp(2rem, calc(1vw + 0.2rem), 2.2rem);
        font-weight: bold;
        color: var(--primary-color);
      }
    }
  }
}
