.enterpriselayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  grid-template-rows: 80px 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar main";

  > section {
    grid-area: main;
    min-block-size: 100vh;
    display: block;
    inline-size: 100%;
    padding-inline: 2rem;
    padding-block: 1.5rem;

    > h1 {
      margin-inline: auto;
      max-inline-size: 980px;
    }
  }
}

@media (max-width: 640px) {
  .enterpriselayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
      "header"
      "main";

    > section {
      grid-area: main;
      padding-inline: 1rem;
      padding-block: 0.5rem;
    }
  }
}

:root {
  --bg: #111111;
  --primary: #fdcdcb;
  --secondary: #fee6e6;
  --tertiary: #fff1f1;
  --quaternary: #ffffff;
}

.grid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  height: 800px;
  width: 100%;
  max-width: 1000px;

  > article,
  div {
    overflow: hidden;
    padding-inline: 0.25rem;
    padding-block: 0.5rem;

    max-inline-size: 980px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 1.25rem;
    h1 {
      color: var(--text-color-enterprise);
      margin-block: 1rem;
    }
  }
}

.grid {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid .left-top {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  /* background: var(--primary); */
}

.grid .right-top {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  /* background: var(--quaternary); */
}

.grid .main-top-left {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  /* background: var(--tertiary); */
}

.grid .main-top-right {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
  /* background: var(--secondary); */
}

.grid .main {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
  /* background: var(--primary); */
}

.grid .main-bottom-left {
  grid-column: 1 / 3;
  grid-row: 6 / 6;
  background: var(--quaternary);
}

.grid .main-bottom-right {
  grid-column: 1 / 3;
  grid-row: 7 / 7;
  background: var(--primary);
}

.grid .left-bottom {
  grid-column: 1 / 1;
  grid-row: 8 / 8;
  /* background: var(--tertiary); */
}

.grid .right-bottom {
  grid-column: 2 / 2;
  grid-row: 8 / 8;
  /* background: var(--secondary); */
}

@media (min-width: 640px) {
  .grid .left-top {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .grid .right-top {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .grid .main-top-left {
    grid-column: 2 / 2;
    grid-row: 2 / 4;
  }

  .grid .main-top-right {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .grid .main {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }

  .grid .main-bottom-left {
    grid-column: 1 / 1;
    grid-row: 6 / 8;
  }

  .grid .main-bottom-right {
    grid-column: 2 / 2;
    grid-row: 6 / 8;
  }

  .grid .left-bottom {
    grid-column: 1 / 1;
    grid-row: 8 / 8;
  }

  .grid .right-bottom {
    grid-column: 2 / 2;
    grid-row: 8 / 8;
  }
}

@media (min-width: 720px) {
  .grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    height: 800px;
  }

  .grid .left-top {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
  }

  .grid .left-bottom {
    grid-column: 1 / 1;
    grid-row: 3 / 5;
  }

  .grid .main {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }

  .grid .main-top-left {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .grid .main-top-right {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

  .grid .main-right {
    grid-column: 4 / 4;
    grid-row: 3 / 3;
  }

  .grid .main-bottom-left {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
  }

  .grid .main-bottom-right {
    grid-column: 3 / 5;
    grid-row: 4 / 4;
  }

  .grid .right-top {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }

  .grid .right-bottom {
    grid-column: 4 / 5;
    grid-row: 3 / 3;
  }
}
