.timeline {
  position: relative;
  display: block;
  list-style: none;
  max-inline-size: 1200px;
  inline-size: 100%;
  margin: 0 auto;
  padding: 2rem 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateX(-50%);
    z-index: -1;
  }

  > li {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 0;
    width: 100%;

    & figure {
      position: absolute;
      top: 1.5rem;
      width: 45px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: var(--bg-linear-gradient-full);
      display: grid;
      place-content: center;
      z-index: 2;

      svg {
        width: 24px;
        height: 24px;
        fill: white;
      }
    }

    & .text-box {
      position: relative;
      background: white;
      border: 2px solid rgba(0, 0, 0, 0.4);
      padding: 1.5rem;
      border-radius: 0.5rem;
      width: 45%;
    }
  }

  > li:nth-child(odd) {
    align-items: flex-start;

    & figure {
      left: calc(50% - 22.5px);
    }

    .text-box {
      margin-left: 55%;
    }

    .arrow {
      position: absolute;
      left: -15px;
      top: 1rem;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid rgba(0, 0, 0, 0.4);
    }
  }

  > li:nth-child(even) {
    align-items: flex-end;

    & figure {
      left: calc(50% - 22.5px);
    }

    .text-box {
      margin-right: 55%;
    }

    .arrow {
      position: absolute;
      right: -15px;
      top: 1rem;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid rgba(255, 0, 0, 0.4);
    }
  }
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes movedown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
}
