:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #9ce3d6;
  --primary-color-hover: #7fd0c0;

  --secondary-color: #6977d2;
  --secondary-color-hover: #5463b5;
}

.userWorkspace--container {
  display: grid;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "aside  header"
    "aside   main"
    "footer  footer";
  z-index: -1;
}

.wu-header {
  grid-area: header;
  width: 100%;
}

.wu-aside {
  grid-area: aside;
}

.wu-main {
  position: relative;
  grid-area: main;
}

.wu-footer {
  grid-area: footer;
  width: 100%;
}
