.project__home--article {
  display: block;
  width: 100%;
  padding: 2rem;
  min-block-size: 30vh;

  & > div:first-of-type {
    width: 100%;
    padding: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;

    & .project__list--container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 0 auto;
    }
  }
}

.project__trash--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 1rem;

  button {
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    border-radius: 0.75rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:is(:disabled) {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:is(:focus, :focus-visible) {
      outline: 2px solid rgba(0, 0, 0, 0.3);
    }
  }

  .project__trash--header {
    display: flex;
    margin-block-end: 1rem;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    & > *:last-child {
      margin-left: auto;
    }
  }
}

.trash__table {
  list-style: none;
  padding: 0;
}
.trash__table--row {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}
.trash__table--header {
  font-weight: bold;
  background-color: #f5f5f5;
}
.trash__table--cell {
  flex: 1;
  padding: 0 0.5rem;
}
