.container__list-workspaces {
    list-style: none;
    inline-size: 100%;

    font-size: 1rem ;

    display: flex;

    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

}