.container__list-workspaces-item {
  background-color: var(--primary-color);

  color: var(--text-color);
  border-radius: 0.75rem;
  box-shadow: 0 0 0.5rem var(--secondary-color);

  display: block;

  max-inline-size: fit-content;

  font-size: 1rem;

  > div {
    padding: 0.75rem;

    > figure ~ * {
      margin-block-start: 0.75rem;
    }
  }

  > article {
    margin-block-start: 0.75rem;
  }
}

.container__list-workspaces-item header {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    > span {
      background-color: var(--secondary-color);

      &:hover {
        cursor: pointer;
        animation: identifier 2s linear infinite;
      }
    }
  }

  p {
    color: var(--subheading-color);
  }
}

@keyframes identifier {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container__list-workspaces-item footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;

  > * {
    display: flex;
    gap: 0.5rem;
  }

  > div {
    flex-wrap: nowrap;

    button {
      max-inline-size: fit-content;
      background-color: var(--secondary-color);
      color: var(--text-color);
      border-radius: 0.75rem;
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--secondary-hover-color);
      }
    }
  }
}

.container__list-workspaces-item figure {
  display: flex;
  align-items: center;

  margin-block-start: 0.75rem;
  margin-inline: 0;
  padding: 0;

  inline-size: 100%;

  > img {
    max-inline-size: 250px;
    max-block-size: 100%;
    border-radius: 0.75rem;

    box-shadow: 0 0 0.5rem var(--secondary-color);
  }
}
