.card {
  width: 100%;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  padding: 0.5rem;
  height: 200px;
  max-height: 300px;
  min-width: 170px;
  display: grid;
  grid-template-areas:
    "t-1 t-2"
    "t-3 t-3";

  &:hover {
    filter: grayscale(0);
    box-shadow: rgba(2, 2, 0, 10%) 5px 5px 20px 0;
  }

  & .card__info {
    grid-area: t-1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;

    & h3 {
      font-size: clamp(1.4rem, calc(0.5vw + 1rem), 2rem);
      font-weight: bold;
      text-wrap: wrap;
      text-overflow: ellipsis;
    }

    & p {
      font-size: clamp(0.8rem, calc(0.5vw + 0.8rem), 1rem);
      font-weight: bold;
      text-wrap: wrap;
      text-overflow: ellipsis;
      color: rgba(0, 0, 0, 0.222);
    }
  }

  & .card__img {
    grid-area: t-2;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    & img {
      max-width: 60px;
      max-height: 60px;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  & .card__footer {
    grid-area: t-3;

    & > * {
      display: block;
    }

    & .logos {
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      width: 100%;
      height: 100%;

      & > * {
        flex: 1;
        height: 100%;
      }

      & a {
        display: grid;
        place-content: center;
      }
    }
  }
}

@media (max-width: 1000px) {
  .card {
    grid-template-areas:
      "t-1"
      "t-2"
      "t-3";
  }
}
