.card {
  width: 100%;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  padding: 20px;
  font-size: xx-large;
  min-height: 200px;
  display: grid;
  grid-template-areas:
    "t-1 t-2"
    "t-3 t-3";

  & .card__info {
    grid-area: t-1;
    color: black;

    & h3 {
        font-size: 0.8rem;
    }

    & p {
        font-size: 0.5rem;
    }
  }

  & .card__img {
    grid-area: t-2;
    padding: 0.5rem;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    place-content: center;

    & img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
    }
  }

  & .card__footer {
    grid-area: t-3;
  }
}
