.carousel_ {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  transition: filter 1s ease;

  > * {
    flex: 0 0 100%;
  }

  &:hover {
    filter: grayscale(50%);

    & .group {
      animation-play-state: paused;
      filter: unset;

      & .card {
        filter: grayscale(0%);
      }
    }
  }

  &::before,
  &::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::before {
    left: 0;
    top: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &::after {
    right: 0;
    top: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.group {
  display: flex;
  gap: 20px;
  /* Add padding to the right to create a gap between the last and first card. */
  padding-right: 20px;
}

.group {
  /* ... */
  will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
