.team-section {
  text-align: center;
  padding: 32px 16px;
}

.team-section__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: 100%;
}

.team-section__title {
  font-size: clamp(2.5rem, calc(2vw + 1rem), 3rem);
  font-weight: bold;
  color: #374151;
  line-height: 1.2;

  &::after {
    content: "";
    margin: 25px 0 50px 0;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #0071b9;
    background: linear-gradient(
      to right,
      white,
      black,
      black,
      black,
      white
    );
  }
}

.team-section__description {
  font-size: clamp(1.25rem, calc(0.5vw + 0.5rem), 2rem);
  color: #4b5563;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.8rem;
  line-height: 2;
}
