:root {
  /* Dark mode colors */
  --text-color-enterprise: #e3e3e3;
  --subheading-color-enterprise: #828282;
  --placeholder-color-enterprise: #a6a6a6;
  --primary-color-enterprise: #242424;
  --secondary-color-enterprise: #383838cd;
  --secondary-hover-color-enterprise: #444;

  --bg-style-color: #73e3db;
}

.light_mode {
  /* Light mode colors */
  --text-color-enterprise: #222;
  --subheading-color-enterprise: #a0a0a0;
  --placeholder-color-enterprise: #6c6c6c;
  --primary-color-enterprise: #fff;
  --secondary-color-enterprise: #e9eef6;
  --secondary-hover-color-enterprise: #dbe1ea;
}

.enterpriselayout {
    background-color: var(--primary-color-enterprise);
}
