.upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1.5px dashed var(--secondary-color);
  border-radius: 10px;
  padding-block: 1.2rem;
  flex: 2;
  height: max-content;
  width: 100%;
  transition: background-color 0.3s, border-color 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--secondary-color-hover);
    cursor: pointer;
  }

  &:has(:hover) {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--secondary-color-hover);
    cursor: pointer;
  }

  &.drag-over {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--secondary-color-hover);
  }

  & .upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 100%;
    width: 100%;

    & > * {
      transition: color 0.3s ease;
    }

    & .file-upload--icon {
      transition: transform 0.3s ease-in;

      &.rotate {
        animation: spinner 2s infinite;
      }
    }

    & h3 {
      font-weight: bold;
      color: #333;
      text-align: center;
    }

    & .upload-input {
      display: none;
    }
  }
}

.upload-buttons {
  z-index: 10;
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  width: max-content;
  justify-content: center;
  align-items: center;

  & button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    display: grid;
    grid-template-areas: "stack";
    align-items: center;
    justify-content: center;
    max-height: 50px;
    height: 50px;
    transition: all 0.3s ease;

    &:disabled {
      pointer-events: none;
    }
  }

  & button:first-child {
    background-color: var(--primary-color);
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
  }

  & button:last-child {
    background-color: #e2e8f0;
    color: #333;
  }

  & button:hover {
    filter: brightness(0.9);
    outline: 1px solid var(--secondary-color);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
