.sidebar {
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: max-content;
  background-color: var(--bg-color-f9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  &.expanded .sidebar__element {
    grid-template-columns: 20px 1fr;
  }

  & > * {
    flex: 1;
  }

  & > :not(:first-child):not(:last-child) {
    flex: 2;
  }

  &:not(.expanded) .sidebar__element:hover {
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.sidebar__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.4rem 1rem;
  width: 100%;
  height: 100%;

  & .sidebar__list--li {
    width: 100%;

    & > a {
      text-decoration: none;

      &.active {
        background-color: var(--placeholder-color-hover);
        color: #433F65;
        cursor: pointer;

        & .sidebar__icon {
          color: #433F65;
        }
      }

      & > .sidebar__icon {
        transition: color 0.3s ease;
        color: var(--primary-color);
      }
    }
  }
}

.sidebar__element {
  width: 100%;
  padding: 0.8rem 1.3rem;
  border-radius: 3px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20px 0fr;
  background-color: inherit;
  color: #526581;
  transition: grid-template-columns 0.4s ease, color 0.2s ease-in-out,
    background-color 0.3s ease-in-out;
  position: relative;

  &:hover {
    background-color: var(--placeholder-color-hover);
    color: #433F65;
    cursor: pointer;

    & .sidebar__icon {
      color: #433F65;
    }
  }

  /* Tooltip */
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 180%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.656);
    color: white;
    padding: 0.4rem;
    font-size: 0.9rem;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 100;
    pointer-events: none;
  }

  & figure {
    padding: unset;

    img {
      max-inline-size: 100%;
      inline-size: 100%;
      aspect-ratio: 1;
      display: block;
      object-fit: contain;
    }
  }
}

.sidebar__footer {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;

  & .sidebar__button {
    margin-top: auto;
    width: 100%;
    padding: 0.8rem 1.3rem;
    border: transparent;
    background: transparent;
    color: #526581;
    cursor: pointer;

    & svg {
      transition: transform 0.3s ease;
    }

    &.rotate svg {
      transform: rotate(180deg);
    }

    &:hover {
      outline: 1px solid black;
      outline-offset: -2px;
    }
  }
}

.sidebar__header-title,
.sidebar__icon {
  transition: display 0.3s ease allow-discrete;
}

.sidebar__header-title {
  scale: 0;
}

.sidebar__icon {
  scale: 1;
}

.sidebar__header[data-expanded="false"] .sidebar__header-title {
  display: none; /* Oculta el título cuando no está expandido */
}

.sidebar__header[data-expanded="false"] .sidebar__icon {
  display: block; /* Muestra el icono cuando no está expandido */
}

.sidebar__header[data-expanded="true"] .sidebar__header-title {
  display: block; /* Muestra el título cuando está expandido */
  scale: 1;

  @starting-style {
    scale: 0;
  }
}

.sidebar__header[data-expanded="true"] .sidebar__icon {
  display: none; /* Oculta el icono cuando está expandido */
  scale: 0;
  @starting-style {
    scale: 1;
  }
}

.sidebar__hide {
  overflow: hidden;
}

.sidebar__icon {
  width: 100%;
  overflow: hidden;
  justify-self: center;
}

.sidebar__logo,
.sidebar__text {
  padding-left: 1.3rem;
  text-wrap: nowrap;
}
