.sidebar {
    display: grid;
    grid-template-columns: 1fr; /* Inicialmente, una columna */
    transition: grid-template-columns 0.3s;
    border: 1px solid #ccc;
    padding: 10px;
}

#expandSidebar:checked ~ .sidebar {
    grid-template-columns: 50px 1fr; /* Dos columnas cuando el checkbox está marcado */
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.icon {
    font-size: 20px;
    margin-right: 10px;
}

.section-name {
    display: none; /* Ocultar nombres inicialmente */
}

#expandSidebar:checked ~ .sidebar .section-name {
    display: inline; /* Mostrar nombres cuando el checkbox está marcado */
}