.footer {
  background: var(--bg-linear-gradient-full-hover);
  display: block;

  & .footer-container {
    padding-block: 0.3rem;
    padding-inline: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & .social {
      padding-block: 0.4rem;
      padding-inline: 0.3rem;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      max-width: 300px;
    }

    & > fieldset {
      flex: 1;
      width: 40%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0.2rem 0.5rem;
      border: 1px solid transparent;

      & > *:not(:nth-child(1)) {
        padding-inline: 0.3rem;
        padding-block: 0.4rem;
        font-size: 1rem;
        outline: 2px solid rgba(0, 0, 0, 0.9);
        align-self: stretch;
        padding-inline: 0.8rem;
      }

      > div {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: rgba(236, 236, 236, 0.8);
        flex: 3;
        position: relative;
        overflow: hidden;

        > input {
          inline-size: 100%;
          padding: 0.5rem;
          border: none;
          outline: none;
          background: transparent;
          color: rgba(0, 0, 0, 0.9);
          font-size: 1rem;

          &:focus + label,
          &:not(:placeholder-shown) + label {
            top: 0.3rem;
            left: 0.5rem;
            transform: translateY(0);
            font-size: 0.75rem;
            opacity: 0;
          }
        }

        > label {
          position: absolute;
          top: 50%;
          left: 0.5rem;
          transform: translateY(-50%);
          font-size: 1rem;
          color: rgba(0, 0, 0, 0.9);
          transition: all 0.2s ease-in-out;
          pointer-events: none;
          opacity: 1;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;

          padding-inline: 0.5rem;

          > * {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            color: black;
          }

          > p {
            font-weight: 700;
            font-size: 0.8rem;
            transition: font-size 0.2s ease-in-out;
          }
        }
      }

      > button {
        background: var(--bg-linear-gradient-full-hover);
        border: none;
        color: rgba(255, 255, 255, 0.8);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        cursor: pointer;
        transition: color 0.2s ease-in;
        flex: 0;
        text-wrap: nowrap;
        overflow: ellipsis;

        &:is(:hover, :focus) {
          outline: 2px solid rgba(0, 0, 0, 0.9);
          color: rgb(151, 147, 147);
        }
      }

      & legend {
        text-wrap: nowrap;
        font-weight: 600;
        font-size: clamp(1rem, calc(0.5vw + 1.2rem), 2rem);
        margin-bottom: auto;
        flex: 1;
        margin-bottom: 0.5rem;
        text-align: center;
      }
    }
  }

  & small {
    margin-top: 15px;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
    align-self: center;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
