.footer {
  padding: 40px 0;
  background-color: #0d1117;
  color: white;
  gap: 1rem;
  margin: 0 auto;

  & .footer-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
.footer .footer-break {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: white;
}
