.footer {
  background: var(--bg-linear-gradient-full-hover);
  color: rgba(255, 255, 255);
  display: block;
  inline-size: 100%;

  & .footer-container {
    padding-block: 0.4rem;
    padding-inline: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & > * {
      outline: 1px solid green;
    }

    & .social {
      padding-block: 0.4rem;
      padding-inline: 0.3rem;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      max-width: 300px;
    }

    & > fieldset {
      flex: 1;
      width: 60%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0.2rem 0.5rem;
      border: 1px solid transparent;

      & > *:not(:nth-child(1)) {
        padding-inline: 0.3rem;
        padding-block: 0.4rem;
        font-size: 1rem;
        outline: 2px solid rgba(0, 0, 0, 0.9);
        align-self: stretch;
        padding-inline: 0.8rem;
      }

      > div {
        border: none;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.8);
        flex: 3;
        position: relative;
        background-color: red;

        > input {
          inline-size: 100%;
          padding: 0.5rem 0.5rem;
          border: none;
          background: transparent;
          color: rgba(0, 0, 0, 0.9);
          font-size: 1rem;
          outline: none;
          background-color: yellow;

          &:focus + label,
          &:not(:placeholder-shown) + label {
            top: 0.3rem;
            transform: translateY(0);
            font-size: 0.75rem;

            > strong {
              font-size: 0.75rem;
            }

            > small {
              opacity: 1;
            }
          }
        }

        > label {
          position: absolute;
          left: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
          color: rgba(0, 0, 0, 0.9);
          font-size: 1rem;
          transition: all 0.2s ease-in-out;
          display: flex;
          justify-content: center;
          pointer-events: none;

          > strong {
            font-weight: 600;
            transition: font-size 0.2s ease-in-out;
          }

          > small {
            font-size: 0.6rem;
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
          }
        }
      }

      > button {
        background: var(--bg-linear-gradient-full-hover);
        border: none;
        color: rgba(255, 255, 255, 0.8);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        cursor: pointer;
        transition: color 0.2s ease-in;
        flex: 0;
        text-wrap: nowrap;
        overflow: ellipsis;

        &:is(:hover, :focus) {
          outline: 2px solid rgba(0, 0, 0, 0.9);
          color: rgb(151, 147, 147);
        }
      }

      & legend {
        text-wrap: nowrap;
        font-weight: 600;
        font-size: clamp(1rem, calc(0.5vw + 1.2rem), 2rem);
        margin-bottom: auto;
        flex: 1;
        margin-bottom: 0.5rem;
      }
    }
  }

  & small {
    margin-top: 15px;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
