.footer {
  padding: 20px 0;
  background: var(--bg-linear-gradient-full-hover);
  color: white;
  gap: 1rem;
  display: block;
  margin: 0 auto;
  height: max-content;
  display: flex;
  flex-direction: column;
  z-index: -1;

  & > * {
    flex: 1;
  }

  & .footer-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  & .social-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
    margin-bottom: 0.5rem;

    & h3 {
      text-align: center;
      text-wrap: nowrap;
      font-size: clamp(1rem, calc(0.5vw + 1.2rem), 2rem);
      margin-bottom: auto;
      flex: 1;
    }

    & div {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 150px;

      & a {
        display: grid;
        place-content: center;
        padding: 0.4rem;
        background-color: #fff;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: 0 5px 15px -5px #111;
        position: relative;
        overflow: hidden;
        outline: 2px solid transparent;
        transition: outline .4s ease-in;

        &::before {
          content: "";
          position: absolute;
          width: 120%;
          height: 120%;
          background: var(--bg-linear-gradient-full);
          left: -110%;
          top: 90%;
          transform: rotate(45deg);
          
        }

        &:hover {
          outline-color: black;

          &::before {
            animation: animation 0.7s 1 forwards;
          }

          .social-icons {
            transform: scale(1.1);
            color: #f1f1f1;
            fill: #fff;
          }
        }

        & .social-icons {
          line-height: 90px;
          font-size: 25px;
          transition: all 0.2s;
        }
      }
    }
  }
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 1em;
  color: #fff;
  margin-bottom: 0;
}

.footer .footer-break {
  height: 2px;
  border-width: 0;
  z-index: -1;
  background-color: white;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes animation {
  0% {
    left: -110%;
    top: 90%;
  }

  80% {
    left: 13%;
    top: -30%;
  }

  100% {
    left: -10%;
    top: -10%;
  }
}
