.footer {
  padding: 20px 0;
  background: var(--bg-linear-gradient-full-hover);
  color: white;
  gap: 1rem;
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
  }

  & .social-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
    & h3 {
      text-align: center;
      text-wrap: nowrap;
      font-size: clamp(1rem, calc(0.5vw + 1.2rem),2rem);
      margin-bottom: auto;
      flex: 1;
    }

    & div {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 150px;
      & a {
        display: grid;
        place-content: center;
      }
    }
  }
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 1em;
  color: #fff;
  margin-bottom: 0;
}
.footer .footer-break {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: white;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
