.scroll-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  outline: 2px solid transparent;

  &:hover {
    outline-color: #fff;
    animation: outline-dance 1s infinite;
  }
}

@keyframes outline-dance {
  0%,
  100% {
    outline-offset: -7px;
  }

  50% {
    outline-width: 4px;
    outline-offset: 5px;
  }
}
