.scroll-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  font-weight: bolder;
  border: 2px solid #2c2c2c;

  &:hover {
    outline: 2px solid;
    animation: outline-dance 1s infinite;
  }
}

@keyframes outline-dance {
    0%, 100% {
        outline-offset: -7px;
    }

    50% {
        outline-offset: 5px;
    }
}
