.sectionIntro__figure {
  padding: 10px;
  max-width: 250px;
  block-size: auto;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.sectionIntro__figure figcaption {
  display: none;
}

.sectionIntro__figure img {
  display: block;
  max-inline-size: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  mask: linear-gradient(to bottom, #000 60%, transparent);
}

.sectionIntro__figure ~ .sectionIntro__header {
  text-align: center;
  padding: 0px 10px;
  margin-block-end: 50px;
  margin-block-start: -3.5rem;
}

.sectionIntro__figure ~ .sectionIntro__header h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sectionIntro__figure ~ .sectionIntro__header h3 {
  max-width: 714px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #5c5c5c;
  margin: 0 auto;
}
