
.table__inputs_files {
  outline: 1px solid black;
  height: max-content;
  padding: 2rem;
  border-radius: 0.3rem;

  & table {
    width: 100%;
    border-collapse: collapse;

    & caption {
      font-size: 1.5em;
      color: black;
      text-align: left;
      margin-bottom: 1rem;
    }

    & thead {
      & tr {
        & th {
          padding: 1rem;
          text-align: left;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
