.analysys-container {
  width: 100%;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  background-color: red;
  padding: 4rem;

  & header {
    .navigation {
      display: flex;
      gap: 1rem;
    }
  }
}

.search-section {
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    gap: 1rem;
}