.search-analysis-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-block: 1rem;
  align-self: center;
  gap: 1.5rem;
  font-size: 1.5em;
  font-weight: 500;

  & > .search-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;

    & input {
      width: 100%;
      font-size: inherit;
      font-weight: inherit;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      padding: 0.5rem;

      &:nth-child(2) {
        padding-block: 0.5rem;
        padding-inline: 3rem;
      }
    }

    & .search-input-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      & .search-icon {
        position: absolute;
        left: 10px;
        color: #777;
      }
    }

    & button {
      background-color: var(--secondary-color);
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      height: 100%;
      font-size: inherit;
      font-weight: inherit;

      &:hover {
        background-color: var(--secondary-color-hover);
      }
    }
  }
}
