.table-filters {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  margin-bottom: 1rem;

  & button,
  & select {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }

  & select {
    width: 150px;
  }
}
