table {
  inline-size: 100%;
  overflow-x: auto;

  border-collapse: collapse;

  & input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1;
    cursor: pointer;
  }

  & td {
    vertical-align: top;
    text-align: center;
  }

  & tr {
    height: auto;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  & tr.selected td {
    background-color: var(--hover-row-table);
  }

  & caption {
    font-size: 1.875em;
    font-weight: bold;
    color: var(--text-color-enterprise);
    text-align: center;

    margin-inline: auto;
    inline-size: 100%;
    margin-block-end: 1rem;

    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      bottom: -15px;
      width: 100%;
      height: 0.25rem;
      background-color: var(--primary-color-enterprise);
    }
  }

  & thead {
    & tr {
      &:first-child > th:is(:first-child, :last-child) {
        visibility: hidden;
      }

      & th {
        padding: 1rem;
      }
    }
  }

  & tbody {
    display: table-row-group;
    vertical-align: top;
    inline-size: 100%;

    /**/
    td button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }

    td div ul li button {
      width: 100%;
      text-align: left;
      padding: 0.5rem;
      background: none;
      border: none;
      cursor: pointer;
    }
    /*  */
    & tr {
      & td {
        padding: 0.4rem;

        &:first-child {
          width: 1rem;
          text-align: center;

          & svg {
            margin-left: 0.5rem;
            stroke: black;
            stroke-width: 10px;
            fill: none;
            cursor: pointer;

            &.favorite {
              fill: yellow;
              stroke: yellow;
            }
          }
        }

        & > div {
          padding: 0.25rem;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
        }
      }
    }
  }

  & tfood {
    width: 100%;
    margin-top: 1rem;
    & tr {
      width: 100%;
      & td {
        margin: 0 auto;
      }
    }
  }
}

td.user-avatar {
  position: relative;

  &::before {
    content: attr(data-name);
    content: attr(data-name) " ";
    content: attr(data-name) !important;

    content: attr(data-name) " ";
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;

    position: absolute;
    inset: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
  }

  & img {
    height: 40px;
    aspect-ratio: 1 / 1;
    max-inline-size: 100%;
    border-radius: 100%;
    object-fit: cover;
    background-color: red;
    background-size: cover;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    max-width: 40px;
    max-height: 40px;
  }

  & img:empty + &::before {
    display: flex;
  }
}
