.sidebar-org--routecontainer {
  overflow-y: auto;
  color: inherit;

  flex: 1;

  margin-block-end: auto;

  > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;

    > li {
      inline-size: 100%;
      font-size: 0.875rem;
      transition-property: box-shadow 0.5s ease, background-color 0.5s ease,
        color 0.5s ease;

      background-color: transparent;

      > a {
        cursor: pointer;
        display: flex;
        padding-inline: 0.5rem;
        padding-block: 0.375rem;
        inline-size: 100%;
        border-radius: 0.5rem;

        color: inherit;
        text-decoration: none;
        font-size: 1.2em;

        color: inherit;
        box-shadow: none;

        gap: 0.5rem;
        align-items: center;

        &:hover {
          background: var(--secondary-hover-color);
        }

        > .icon--selected {
          color: var(--bg-style-color);
        }

        &.button--selected {
          background-color: var(--secondary-hover-color);
          color: var(--bg-style-color);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px -1px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
