.sidebar-org--search {
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;

  padding-inline: 0.5rem;
  padding-block: 0.375rem;

  margin-block-start: 2rem;
  margin-block-end: 1rem;

  background-color: var(--primary-color);

  gap: 0.5rem;

  > .icon {
    font: inherit;
    margin-right: 0.3rem;
  }

  & input {
    color: var(--text-color);
    inline-size: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    padding-inline: 0.25rem;
    padding-block: 0.25rem;
    outline: 1px solid transparent;

    &::placeholder {
      color: var(--subheading-color);
    }

    &:is(:focus-visible, :focus, :active) {
      background-color: var(--secondary-hover-color);
      border-radius: 0.25rem;
      outline: 1px solid var(--secondary-hover-color);
    }

    &:focus {
      outline: 1px solid var(--secondary-hover-color);
    }
  }

  > span {
    padding: 0.25rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.35rem;
    background-color: var(--secondary-color);
  }
}
