.topbar--enterprise {
  grid-area: header;
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;

  & .topbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    inline-size: 100%;
    max-inline-size: 980px;

    color: var(--text-color);

    & .greeting {
      display: block;
      font-size: 0.875rem;
      font-weight: 700;
    }

    & .date {
      font-size: 0.75rem;
      color: #6b7280;
      color: var(--subheading-color);
    }

    & > *:nth-child(2) {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
    }
  }
}
