.sidebar-org {
  grid-area: sidebar;

  max-inline-size: 250px;

  inline-size: 100%;
  border: 1px solid transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;

  & .sidebar-org--container {
    position: sticky;
    top: 1rem;
    height: calc(
      100vh - 2rem - 3rem
    ); /* h-[calc(100vh-32px-48px)] => 32px = 2rem y 48px = 3rem */
    padding: 0.5rem;
  }

  header {
    border-bottom: 1px solid #d4d4d8; /* border-stone-300 */
    margin-top: 0.5rem; /* mt-2 */
    margin-bottom: 1rem; /* mb-4 */
    padding-bottom: 1rem; /* pb-4 */

    > button {
      display: flex;
      padding: 0.125rem; /* p-0.5 */
      border-radius: 0.125rem; /* rounded-sm */
      transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms; /* transition-colors */
      position: relative;
      gap: 0.5rem; /* gap-2 */
      width: 100%; /* w-full */
      align-items: center; /* items-center */
      background-color: var(--secondary-color); /* bg-primary */

      > .icon {
        position: absolute; /* absolute */
        right: 0.5rem; /* right-2 => 2 * 0.25rem = 0.5rem */
        top: 50%; /* top-1/2 */
        transform: translateY(-50%); /* translate-y-[calc(+50%) */
        font-size: 0.75rem; /* text-xs */
        fill: red;
      }

      &:hover {
        background-color: var(--secondary-color-hover); /* hover:bg-stone-200 */
      }

      > img {
        width: 2rem; /* size-8 => 8 * 0.25rem = 2rem */
        height: 2rem; /* size-8 => 8 * 0.25rem = 2rem */
        border-radius: 0.125rem; /* rounded-sm */
        flex-shrink: 0; /* shrink-0 */
        background-color: #a855f7; /* bg-violet-500 */
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px -1px rgba(0, 0, 0, 0.1); /* shadow */
      }

      > div {
        text-align: start; /* text-start */

        & > *:first-child {
          font-size: 0.875rem; /* text-sm */
          font-weight: 600; /* font-semibold */
          display: block; /* block */
          overflow: hidden; /* overflow-hidden */
          text-overflow: ellipsis; /* text-ellipsis */
          white-space: nowrap; /* whitespace-nowrap */
        }

        & > *:last-child {
          font-size: 0.75rem; /* text-xs */
          display: block; /* block */
          color: #ffffff; /* text-stone-500 */
          overflow: hidden; /* overflow-hidden */
          text-overflow: ellipsis; /* text-ellipsis */
          white-space: nowrap; /* whitespace-nowrap */
          max-width: 10ch; /* max-w-[10ch] */
        }
      }
    }
  }

  search {
    background-color: #e5e7eb; /* bg-stone-200 */
    position: relative; /* relative */
    border-radius: 0.25rem; /* rounded */
    display: flex; /* flex */
    align-items: center; /* items-center */
    font-size: 0.875rem; /* text-sm */
    margin-bottom: 1rem; /* marginBottom */
    padding-inline: 0.5rem; /* paddingInline */
    padding-block: 0.375rem; /* paddingBlock */

    > .icon {
      margin-right: 0.5rem; /* mr-2 */
    }

    & input {
      width: 100%; /* w-full */
      background-color: transparent; /* bg-transparent */

      &::placeholder {
        color: #a1a1aa; /* placeholder:text-stone-400 */
      }

      &:focus {
        outline: none; /* focus:outline-none */
      }
    }

    > span {
      padding: 0.25rem; /* p-1 */
      font-size: 0.75rem; /* text-xs */
      display: flex; /* flex */
      gap: 0.125rem; /* gap-0.5 */
      align-items: center; /* items-center */
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1); /* shadow */
      background-color: #f5f5f4; /* bg-stone-50 */
      border-radius: 0.25rem; /* rounded */
      position: absolute; /* absolute */
      right: 0.375rem; /* right-1.5 => 1.5 * 0.25rem = 0.375rem */
      top: 50%; /* top-1/2 */
      transform: translateY(-50%); /* -translate-y-1/2 */
    }
  }

  .sidebar-org--routecontainer {
    overflow-y: auto;

    > ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-top: 1rem;

      & > * {
        border: 1px solid transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }

      > li {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.5rem; /* gap-2 */
        width: 100%; /* w-full */
        border-radius: 0.125rem; /* rounded-sm */
        font-size: 0.875rem; /* text-sm */
        transition-property: box-shadow, background-color, color;
        transition-duration: 150ms;
        cursor: pointer;
        padding-inline: 0.5rem; /* paddingInline */
        padding-block: 0.375rem; /* paddingBlock */

        > .icon--selected {
          color: #a855f7; /* text-violet-500 */
        }

        &.button--selected {
          background-color: #fff; /* bg-white */
          color: #0f172a; /* text-stone-950 */
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px -1px rgba(0, 0, 0, 0.1); /* shadow */
        }

        &.button--unselected {
          background-color: transparent; /* bg-transparent */
          color: #71717a; /* text-stone-500 */
          box-shadow: none; /* shadow-none */

          &:hover {
            background-color: #e5e7eb; /* hover:bg-stone-200 */
          }
        }
        > span {
          font-size: 1.2em;
        }
      }
    }
  }

  > footer {
    display: flex;
    position: sticky;
    top: calc(100vh - 3rem - 1rem);
    flex-direction: column;
    height: 3rem;
    border-top: 1px solid #d4d4d8;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    justify-content: flex-end;
    font-size: 0.75rem;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > button {
        padding-inline: 0.5rem;
        padding-block: 0.375rem;
        font-weight: bold;
        background-color: #e5e7eb;
        border-radius: 0.25rem;
        cursor: pointer;
        transition-property: background-color, border-color, color, fill, stroke,
          opacity, box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        &:hover {
          background-color: #d4d4d8;
        }
      }

      > div {
        p {
          font-weight: bold;
        }
      }
    }
  }
}

input[type="checkbox"]#theme-toggle {
  display: none;
}

.theme-toggle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  transition: transform 0.4s;
  perspective: 600px;

  outline: 1px solid rgba(0, 0, 0, 0.4);

  &:hover {
    transform: scale(1.2);
  }

  & .icon {
    position: absolute;
    transition: transform 0.6s, opacity 0.6s;
    backface-visibility: hidden;
  }
}

/* Default = sun visible */
.theme-toggle .sun {
  transform: rotateY(0deg);
  opacity: 1;
}

.theme-toggle .moon {
  transform: rotateY(180deg);
  transform: rotate(360deg);
  opacity: 0;
}

/* On toggle = moon visible */
body:has(#theme-toggle:checked) .sun {
  transform: rotateY(-180deg);
  transform: rotate(360deg);
  opacity: 0;
}

body:has(#theme-toggle:checked) .moon {
  transform: rotateY(0deg);
  opacity: 1;
}
