.sidebar-org {
  grid-area: sidebar;
  max-inline-size: 250px;
  inline-size: 100%;
  border: 1px solid transparent;
  background-color: var(--secondary-color);
  color: var(--text-color);

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  max-block-size: 100vh;
  max-block-size: 100dvh;

  & .sidebar-org--container {
    flex: 1;
    position: sticky;
    top: 1rem;
    padding-inline: 0.5rem;
    margin-block-end: auto;

    display: flex;
    flex-direction: column;
  }
}
