.sidebar-org {
  grid-area: sidebar;
  max-inline-size: 250px;
  inline-size: 100%;
  border: 1px solid transparent;
  background-color: var(--secondary-color-enterprise);
  color: var(--text-color-enterprise);

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  max-block-size: 100vh;
  max-block-size: 100dvh;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar-org .sidebar-org--container {
  flex: 1;
  position: sticky;
  top: 1rem;
  padding-inline: 0.5rem;
  margin-block-end: auto;

  display: flex;
  flex-direction: column;
}

@media (max-width: 640px) {
  .sidebar-org {
    grid-area: none;
    position: fixed;
    top: 0;
    left: 0;
    inline-size: 250px;
    max-inline-size: none;
    transform: translateX(-100%);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    min-block-size: 100vh;
  }
  .sidebar-org.open {
    transform: translateX(0);
  }

  .sidebar-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 900;
  }
}
