.dropdown-projects--list {
  list-style: none;
  block-size: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  & li {
    padding: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    height: 100%;

    button {
      text-wrap: wrap;
    }

    &:has(:focus) {
      outline: 1px solid black;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    & input {
      border: none;
      background-color: transparent;
      width: 100%;
      height: 100%;
      font-size: 1em;

      &:focus {
        outline: none;
      }
    }
  }
}
