.dropdown-menu {
  position: absolute;
  top: 30%;
  left: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-width: 150px;
  padding: 0.4rem;
  width: max-content;

  & .dropdown-content {
    padding: 0.4rem;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-block-size: 220px;
    max-inline-size: 400px;
  }

  & h3 {
    margin-top: 0.2rem;
    margin-left: 0.6rem;
    font-size: clamp(0.8rem, calc(0.5vw + 0.8rem), 1rem);
    font-weight: 700;
  }

  & ul {
    background-color: var(--card-background);
    padding: 0.2rem;
    border-radius: 0.3rem;
  }

  & .dropdown-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 16px;
    padding: 0.1rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
      box-shadow: 0 5px -55px 0 #333;
    }

    &:active {
      & .dropdown-icon {
        transform: scale(0.9);
      }
    }
  }

  & .buttons {
    margin: 0;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    padding: 0.2rem;
    gap: 0.5rem;
    flex-wrap: nowrap;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      padding: 0.8rem 1rem;

      &:active {
        transform: scale(0.9);
      }
    }

    & button {
      padding: 0.8rem 1.2rem;
      text-wrap: nowrap;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: none;
      border-radius: 0.5rem;
      font-size: clamp(0.4rem, calc(0.5vw + 0.5rem), 0.8rem);
      outline: 1px solid transparent;

      &:hover {
        background-color: red;
        & .buttons-icons {
          fill: black;
        }
      }

      &:first-child {
        background-color: var(--secondary-color);
        color: white;

        & .buttons-icons {
          fill: white;
        }

        &:hover {
          outline-color: black;
          outline-offset: -2px;
          background-color: var(--secondary-color-hover);
        }
      }

      &:last-child {
        background-color: transparent;
        outline-color: black;

        & .buttons-icons {
          fill: black;
        }
      }
    }
  }
}
