.sidebar__header {
  /* background-color: var(--bg-color-yellow); */
  background: linear-gradient(0deg, #f5bf47 0%, #f5bf47 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-inline-size: 217px;

  .sidebar__header--button {
    background: transparent;
    border: transparent;
    padding: 1.2rem 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: outline 0.3s ease, background-color 0.3s ease;

    &:has(.dropdown--active) {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:hover {
      outline: 1px solid black;
      outline-offset: -2px;
    }

    & .sidebar-arrow {
      transform: rotate(90deg);
      transition: transform 0.3s ease;

      &.dropdown--active {
        transform: rotate(0deg);
      }
    }

    & h3 {
      text-wrap: wrap;
    }
  }
}
