.add-users-enterprise {
  inline-size: 100%;
  > form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  & label {
    & input {
      padding: 0.5rem;
      width: 100%;
    }

    & select {
      padding: 0.5rem;
      width: 100%;
    }
  }

  & button {
    padding: 0.75rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: darken(#0070f3, 5%);
    }
  }
}

.password-label-add-enterprise {
  display: block;
  position: relative;
  font-weight: 500;
  color: #333;

  > div {
    position: relative;
  }

  .password-label-add-enterprise input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.eyes-icons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
  font-size: 1.2rem;
}
