.add-users-enterprise {
  > form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  & label {
    & input {
      padding: 0.5rem;
      width: 100%;
    }

    & select {
      padding: 0.5rem;
      width: 100%;
    }
  }

  & button {
    padding: 0.75rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: darken(#0070f3, 5%);
    }
  }
}
