.members-form {
  max-width: 600px;
  max-block-size: 600px;
  min-width: 400px;
  inline-size: auto;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  padding-inline: 20px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: 10px;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;

  & h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;

    & mark {
      display: inline-block;
      background: var(--secondary-color);
      padding-inline: 10px;
      border-radius: 2px;
      color: #fff;
      /* mask: repeating-conic-gradient(from 75deg at 30px 50%,#0000,#000 1deg 29deg,#0000 30deg 180deg) -30px 50%/100% 16.08px;     */
    }
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 6px;
    align-items: center;
    block-size: 80px;
    max-block-size: 80px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    inline-size: 100%;

    & > fieldset {
      flex: 1;
      border-radius: 6px;
      position: relative;
      border: none;
      margin-top: 10px;

      & > legend {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: absolute;
        font-weight: bold;
        display: flex;
        align-items: center;
        color: #555;
      }
      & > input {
        border: none;
        outline: none;
        flex: 1;
        min-width: 120px;
        inline-size: 100%;
        block-size: 100%;
        font-size: 1em;
        margin-inline: 20px;
      }
    }

    & > div {
      inline-size: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;
    }

    & span {
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.1);
      color: black;
      border-radius: 9999px;
      padding: 4px 8px;
      inline-size: fit-content;
      font-size: 0.9em;
      font-weight: bold;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.2);
      }

      & button {
        background: transparent;
        border: none;
        outline: 1px solid transparent;
        font-size: 1rem;
        margin-left: 6px;
        cursor: pointer;
        color: inherit;

        &:hover,
        &:focus {
          background-color: rgba(0, 0, 0, 0.1);
          transform: scale(0.9);
          outline-color: white;
        }
      }
    }
  }
}

.seats-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #333;

  & > *:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & .invite-buttons {
    display: flex;
    gap: 10px;

    & .invite-button {
      padding: 8px 14px;
      font-size: 1rem;
      border-radius: 6px;
      cursor: pointer;
      border: none;

      &:disabled {
        background: #ccc;
        color: #666;
        border: 1px solid #aaa;
        opacity: 0.5;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: not-allowed;
        }
      }

      &.guest {
        background: transparent;
        border: 1px solid #888;
        color: #555;

        &:hover {
          background: #f0f0f0;
        }
      }

      &.member {
        background: var(--secondary-color);
        color: white;

        &:hover {
          background: var(--secondary-color-hover);
        }
      }
    }
  }
}

.warning {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  background: #fff3cd7d;
  color: black;
  padding: 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  margin-bottom: 20px;
  border: 1px solid #ffeeba;

  & .warning-icon {
    align-self: center;
    margin-right: auto;
    fill: red;
  }

  & p {
    margin-left: auto;
    text-align: left;
    text-wrap: balance;
    line-height: 1.5;
  }
}

.people-with-access {
  & > * {
    display: block;
    /* h3 & ul */
  }

  & h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;

    & mark {
      display: inline-block;
      background: var(--secondary-color);
      padding-inline: 10px;
      border-radius: 2px;
      color: #fff;
      /* mask: repeating-conic-gradient(from 75deg at 30px 50%,#0000,#000 1deg 29deg,#0000 30deg 180deg) -30px 50%/100% 16.08px;     */
    }
  }

  & ul {
    max-block-size: 140px;
    block-size: 140px;
    overflow-y: auto;
    list-style: none;
    overflow-y: auto;
  }

  & figure {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    & img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    & figcaption {
      font-size: 0.9rem;
      color: #333;
    }
  }

  & > ul {
    inline-size: 100%;
    & li {
      padding: 0.3rem;
      inline-size: 100%;
      display: flex;

      /*Este selecciona todos los elementos <li> que están dentro del selector padre ~ parent Selector */
      &:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      /* figure */
      & > *:nth-child(1) {
        margin-right: auto;
        padding: 0.3rem;

        & img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          aspect-ratio: 1/1;
        }

        & figcaption {
          font-size: 0.8rem;
          color: #333;
        }
        & span {
          font-size: 0.8rem;
          color: #666;
        }
      }
    }
  }
}

.dropdown-details {
  position: relative;
  display: grid;
  place-content: center;

  & .dropdown-toggle {
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    z-index: auto;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  & .dropdown-menu-float {
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    width: max-content;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  & .dropdown-menu {
    position: absolute;
    top: calc(100%);
    left: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 150px;

    & li {
      & .dropdown-option {
        width: 100%;
        padding: 8px 12px;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: #f9f9f9;
        }

        &.active {
          font-weight: bold;
          background-color: #e0f7fa;
        }

        & .tick {
          margin-left: 10px;
          color: green;
        }
      }
    }
  }
}
