.container {
  position: relative;
  display: block;
  margin-inline: auto;
  padding-inline: 1rem;
  block-size: fit-content;
  min-block-size: 80vh;
  inline-size: 100%;
  overflow: hidden;
  padding-block: 1rem;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: -1;
  border-radius: 15px;
}

.container:nth-of-type(2)::before {
  background: var(--bg-linear-gradient-semifull);
}

.container:nth-of-type(4)::before {
  background: var(--bg-linear-gradient-full);
}

@media (min-width: 640px) {
  /* sm */
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  /* md */
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  /* 2xl */
  .container {
    max-width: 1536px;
  }
}
